<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for HTML email with inline image</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<img src="EDP_LOGO_SMALL.png" th:src="'cid:' + ${logo}" />
	<h2 th:text="${title}">New results for your query.</h2>
	<p th:text="${text}">New results for your query.</p>
	<p>
		Regards, <br /> <em>The EDP Team</em>
	</p>
</body>
</html>