/*********************************** TOP FOOTER ***********************************/
#edp3-footer #footer_first {
    background: #f3f3f3;
    padding-top: 35px;
    padding-bottom: 20px;
}

#edp3-footer #footer_first .region-footer-first-left, #edp3-footer #footer_first .region-footer-first-middle, #edp3-footer #footer_first .region-footer-first-right {
    padding-bottom: 25px;
}

#edp3-footer #footer_first h2 {
    font-size: 24px;
    font-weight: normal;
    color: #202272;
}

#edp3-footer .btn.btn-footer {
    background-color: #202272;
    border-color: #202272;
    border-radius: 4px;
}

#edp3-footer .btn.btn-footer:hover {
    background-color: #196fd2;
    border-color: #196fd2;
}

/*********************************** BOTTOM SITE BRANDING ***********************************/
#edp3-footer #footer_first #block-sitebranding {
    margin-bottom: 25px;
}

#edp3-footer #footer_first #block-sitebranding > a {
    float: left;
}

#edp3-footer #footer_first #block-sitebranding img {
    height: 60px;
    margin-right: 10px;
}

#edp3-footer #footer_first #block-sitebranding .site-branding__text a {
    line-height: 60px;
    font-size: 20px;
    color: #0f62ae;
    text-transform: uppercase;
    font-weight: 300;
}

#edp3-footer #footer_first #block-edp3-branding .site-branding__text a strong {
    font-weight: bold;
}

/*********************************** FUNDED BY NOTICE ***********************************/
#edp3-footer #footer_first #block-fundedby img {
    height: 40px;
    width: 60px;
    float: left;
    margin-right: 10px;
}

#edp3-footer #footer_first #block-managedby img {
    width: 60px;
    float: left;
    margin-right: 10px;
}

#edp3-footer #footer_first #block-fundedby span {
    margin: 0;
    line-height: 40px;
    font-size: 14px;
    color: #202272;
}

#edp3-footer #footer_first #block-managedby span {
    margin: 0;
    font-size: 14px;
    color: #202272;
}

/*********************************** HELP US IMPROVE ***********************************/
#edp3-footer #footer_first #block-helpusimprove {
    /*
    margin-top: 25px;
    */
    margin-bottom: 15px;
}

#edp3-footer #footer_first #block-helpusimprove h2:before {
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
}

#edp3-footer #footer_first #block-helpusimprove p {
    margin: 0 0 0 38px;
    line-height: 20px;
}

#edp3-footer #footer_first #block-helpusimprove p a {
    color: #202272;
    font-size: 14px;
}

/*********************************** FOLLOW US ***********************************/
#edp3-footer #footer_first #block-followuson ul {
    margin: 25px 0 0 0;
    padding: 0;
}

#edp3-footer #footer_first #block-followuson ul li {
    list-style-type: none;
    overflow: hidden;
}

#edp3-footer #footer_first #block-followuson ul li a {
    color: #202272;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}

#edp3-footer #footer_first #block-followuson ul li a:hover {
    color: #196fd2;
    text-decoration: none;
}

#edp3-footer #footer_first #block-followuson ul li a:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    margin-right: 10px;
    font-size: 30px;
    position: relative;
    top: 5px;
}

#edp3-footer #footer_first #block-followuson a[href*="facebook"]:before {
    content: "\f082";
}

#edp3-footer #footer_first #block-followuson a[href*="twitter"]:before {
    content: "\f081";
}

#edp3-footer #footer_first #block-followuson a[href*="linkedin"]:before {
    content: "\f08c";
}

#edp3-footer #footer_first #block-followuson a[href*="youtube"]:before {
    content: "\f431";
}

#edp3-footer #footer_first a[target=_blank]:after {
    content: "\f35d";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 10px;
    position: relative;
    top: -3px;
    margin-left: 3px;
}

/*********************************** RESPONSIVE ***********************************/
@media screen and (min-width: 768px) and (max-width: 1090px) {
    #edp3-footer #footer_first #block-sitebranding .site-branding__text a {
        line-height: 1;
        width: 150px;
        padding-top: 13px;
        padding-left: 5px;
        display: inline-block;
    }

    #edp3-footer #footer_first #block-fundedby span:nth-child(2) {
        line-height: 1;
        width: 180px;
        padding-top: 5px;
    }

    #edp3-footer #footer_first #block-managedby span:nth-child(2) {
        line-height: 1;
        width: 180px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 715px) {
    #edp3-footer #footer_first #block-sitebranding .site-branding__text a {
        line-height: 1;
        width: 150px;
        padding-top: 13px;
        padding-left: 5px;
        display: inline-block;
    }
}

/*********************************** LAYOUT & TYPOGRAPHY ***********************************/
#edp3-footer .container {
    max-width: 1340px !important;
}

#edp3-footer *:not(.far):not(.fas):not(.fab) {
    font-family: Helvetica, Arial, sans-serif;
}

/*********************************** BOTTOM FOOTER ***********************************/
#edp3-footer #footer_second {
    background-color: #202272;
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
}

#edp3-footer #footer_second a {
    color: #fff;
}

#edp3-footer #footer_second ul.menu {
    margin: 0;
}

#edp3-footer #footer_second ul.menu li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

#edp3-footer #footer_second ul.menu li:after {
    content: "|";
}

#edp3-footer #footer_second ul.menu li:last-of-type:after {
    content: "";
}


/*********************************** header




********* LAYOUT & TYPOGRAPHY ***********************************/
.container {
    max-width: 1340px !important;
}

*:not(.far):not(.fas):not(.fab) {
    font-family: Helvetica, Arial, sans-serif;
}

/*********************************** HEADER ***********************************/
#header {
    background: #fff;
}

#header .region-header {
    overflow: hidden;
}

/*********************************** SITE BRANDING ***********************************/
#header #block-edp3-branding {
    padding: 16px 10px 14px 10px;
    float: left;
}

#header #block-edp3-branding a {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

#header #block-edp3-branding img {
    height: 45px;
    margin-right: 10px;
}

#header #block-edp3-branding .site-branding__text {
    display: inline-block;
}

#header #block-edp3-branding div a {
    line-height: 45px;
    font-size: 22px;
    color: #0f62ae;
    padding-left: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
}

#header #block-edp3-branding div a strong {
    font-weight: bold;
}

/*********************************** SEARCH ***********************************/
#header #block-search {
    float: right;
    margin: 18px 0;
}

#header #block-search input {
    border-radius: 4px 0 0 4px;
}

#header #block-search select {
    border-radius: 0;
    background-color: #d5d6f7;
    color: #202272;
}

#header #block-search select option {
    background-color: #fff;
}

/*********************************** LANGUAGE SWITCHER ***********************************/
#header .block-language {
    float: right;
    margin: 18px 15px;
    padding: 0;
}

#header .block-language select {
    max-width: 160px;
    border-radius: 4px;
}

#header .block-language .btn.btn-primary {
    width: 38px;
    background-color: #202272;
    border-color: #202272;
}

#header .block-language .btn.btn-primary:hover {
    background-color: #196fd2;
    border-color: #196fd2;
}

/*********************************** PRIMARY MENU ***********************************/
#primary_menu.second-level-open {
    margin-bottom: 60px;
}

#primary_menu ul.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

frontpage #primary_menu nav > ul > li:first-of-type .is-active {
    background: #196fd2;
}

#primary_menu .menu--main > ul.menu > li:first-of-type a:before {
    content: "\f015";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
}

#primary_menu ul.menu li a:hover {
    color: #fff;
}

#primary_menu ul.menu li ul {
    display: none;
}

/* RESPONSIVE NAV BUTTON ********************/
.menu--btn {
    display: none;
    height: 40px;
    width: 40px;
    color: #fff;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #202272;
    margin: 18px 0 0 12px;
    background: #202272;
    float: right;
}

.menu--btn:hover {
    background-color: #196fd2;
}

.menu--btn span.fas {
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}

.menu--btn span.fa-bars:before {
    content: "\f0c9";
}

.menu--btn span.fa-times:before {
    content: "\f00d";
}

/*********************************** SECOND LEVEL MENU ***********************************/
#primary_menu nav > .menu > .menu-item--active-trail.open > a, #primary_menu nav > .menu > .menu-item--active-trail > ul {
    display: block;
}

#primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu {
    z-index: 9;
    background-color: #289dfa;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px 5px 0 5px;
    min-height: 40px;
    text-align: center;
    margin: 0;
}

#primary_menu nav > ul.menu > li.menu-item--active-trail.open, #primary_menu nav > ul.menu > li.menu-item--active-trail.open > ul.menu {
    z-index: 99;
    background-color: #1986dc;
}

#primary_menu nav > ul.menu > li.menu-item--active-trail, #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu {
    background-color: #196fd2;
}

#primary_menu nav > ul.menu > li.menu-item--active-trail.open > ul.menu li, #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu li, .edp-dropdown-item {
    display: inline-block;
}

#primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item:first-of-type > a {
    width: auto !important;
    font-size: initial;
    line-height: inherit;
}

#primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item:first-of-type > a:before {
    content: "";
}

/*********************************** RESPONSIVE ***********************************/
@media screen and (max-width: 990px) {
    /* HEADER ********************/
    /* RESPONSIVE NAV BUTTON ********************/
    /* NAV ********************/
    #header #block-edp3-branding {
        margin-left: 0;
        padding-left: 0;
    }

    #header .block-language {
        border-radius: 4px;
    }

    #header .block-language .form-control {
        height: 40px;
        border-radius: 4px;
        max-width: 160px;
    }

    #header #block-search .input-group-prepend, #header #block-search .form-control {
        display: none;
    }

    #header #block-search .btn {
        border-radius: 4px;
    }

    #header #block-search .btn {
        height: 40px;
        border-radius: 4px;
    }

    #header #block-search .btn.search-fixed-top {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 101;
        border: 1px solid #fff;
    }

    .menu--btn {
        display: block;
    }

    #primary_menu {
        overflow: hidden;
        height: auto;
    }

    #primary_menu {
        margin-bottom: 0;
        top: 81px !important;
    }

    #primary_menu.second-level-open {
        margin-bottom: 0;
    }

    #primary_menu > .container {
        padding-left: 0;
        padding-right: 0;
    }

    #primary_menu ul.menu li {
        flex: none;
    }

    #primary_menu ul.menu li a {
        text-align: left;
        padding-left: 15px;
    }

    #primary_menu ul.menu li ul {
        display: block;
        overflow: hidden;
    }

    #primary_menu .menu--main > ul.menu > .menu-item:first-child {
        padding-bottom: 0 !important;
    }

    #primary_menu .menu--main > ul.menu > .menu-item:first-child a {
        border-top: 0;
        width: auto !important;
        background: transparent !important;
    }

    #primary_menu .menu--main > ul.menu > .menu-item:first-child a:before {
        margin-right: 5px;
    }

    #primary_menu .menu--main > ul.menu > .menu-item {
        padding-bottom: 10px !important;
    }

    #primary_menu .menu--main > ul.menu > .menu-item > a {
        border-top: 1px solid #196fd2;
        font-weight: bold;
        padding-left: 0;
        margin: 0;
        font-size: 1rem !important;
    }

    #primary_menu nav > ul.menu > li.menu-item--active-trail, #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }

    #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu {
        position: relative;
        display: block;
    }

    #primary_menu nav > ul.menu > li.menu-item--active-trail.open > ul.menu li, #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu li {
        display: block;
        width: auto;
    }

    #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item a {
        display: block;
        text-align: left;
        background: transparent;
        border-color: transparent !important;
        margin: 0;
        padding: 10px 14px;
        color: #dff3ff;
    }

    #primary_menu nav > ul.menu > li.menu-item--active-trail.open, #primary_menu nav > ul.menu > li.menu-item--active-trail.open > ul.menu {
        padding: 0;
        background-color: transparent;
    }
}

@media screen and (max-width: 715px) {
    /* HEADER ********************/
    /* RESPONSIVE NAV BUTTON ********************/
    /* NAV ********************/
    #header {
        height: 73px;
    }

    #header > .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #header #block-edp3-branding {
        padding-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 73px;
    }

    #header #block-edp3-branding img {
        height: 36px;
        margin-right: 7px;
    }

    #header #block-edp3-branding .site-branding__text a {
        font-size: 18px;
        width: 150px;
        line-height: 1;
        padding-left: 0;
    }

    #header #block-edp3-branding .site-branding__text a strong {
        display: inline-block;
    }

    #header #block-edp3-branding .site-branding__name {
        display: flex;
    }

    #header .block-language {
        margin-left: 0;
        margin-right: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        position: sticky;
        z-index: 99;
        top: 0;
    }

    #header .block-language .form-control {
        font-size: 14px;
        height: 40px;
    }

    #header #block-search {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .menu--btn {
        margin-top: 15px;
        margin-left: 5px;
    }

    #primary_menu {
        top: 72px !important;
    }

    #primary_menu .menu--main > ul.menu {
        height: calc(100vh - 72px);
        padding-left: 15px;
    }
}

@media screen and (max-width: 500px) {
    /* HEADER ********************/
    /* NAV ********************/
    #header > .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    #header #block-edp3-branding {
        padding-top: 10px;
    }

    #header #block-edp3-branding .site-branding__text a {
        font-size: 17px;
        width: 142px;
    }

    #header .block-language .form-control {
        text-transform: uppercase;
        width: 58px;
        padding: 3px;
    }

    #primary_menu .menu--main > ul.menu {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 375px) {
    /* HEADER ********************/
    #header #block-edp3-branding .site-branding__text a {
        font-size: 15px;
        width: 100px;
    }
}

@media screen and (max-width: 330px) {
    /* HEADER ********************/
    #header #block-edp3-branding {
        padding-left: 0;
        padding-right: 3px;
    }

    #header #block-edp3-branding img {
        margin-right: 5px;
    }

    #header #block-edp3-branding .site-branding__text a {
        width: 100px;
    }
}


.edp-btn.edp-btn--primary {
    border: none;
    background-color: #202272;
    border-color: #202272;
    color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.edp-btn.edp-btn--primary:hover {
    background-color: #196fd2;
    border-color: #196fd2;
    color: #fff;
    cursor: pointer;
}

#header #block-edp3-branding {
    padding: 16px 10px 14px 0px;
    float: left;
    margin-left: -6px;
}

#navbar-toggle {
    background-color: #202272;
    position: sticky;
    z-index: 99;
    top: 0;
    margin-bottom: 20px;
}

{
    display: initial
;
}
.edp-nav {
    display: initial;
}

.edp-menu__item {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
}

.edp-menu__item.active {
    background-color: #196fd2;
}

.edp-menu__item.active .edp-menu__dropdown {
    display: block !important;
}

.edp-menu__item.show {
    background-color: #1986dc;
}

#edp3-header .edp-menu__item--home {
    flex: 0;
}

#edp3-header .edp-menu__item--home .edp-menu__home-text {
    line-height: 1.9;
    display: none;
}

#edp3-header .edp-menu__item--home a {
    display: inline-block;
    height: 48px;
}

#edp3-header .edp-menu__item--home a::before {
    display: inline-block;
    content: "\f015";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
}

.edp-menu__item a {
    color: #dff3ff;
    display: inline-block;
    cursor: pointer;
    padding: 11px 15px;
    width: auto;
    text-align: center;
    display: block;
    text-decoration: none;
}

.edp-menu__item a:hover {
    color: white;
}

.edp-menu__item .dropdown-toggle::after {
    font-family: "Font Awesome 5 Free";
    content: "\F0D7";
    display: inline-block;
    border-top: 0em solid;
    border-right: 0em solid transparent;
    border-bottom: 0;
    border-left: 0em solid transparent;
    font-weight: 900;
    margin-left: 10px;
    vertical-align: 0;
}

.edp-menu__dropdown {
    z-index: 9;
    background-color: #196fd2;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 40px;
    text-align: center;
    margin: 0;
    border: none !important;
    border-radius: 0;
    transform: none !important;
    top: auto !important;
    left: auto !important;
    padding: 5px 5px 7px;
}

.edp-menu__dropdown-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.edp-menu__dropdown-list-item {
    list-style-type: none;
    list-style-image: none;
    flex: 0 1 auto;
    margin-left: -5px;
}

.edp-menu__dropdown-list-item a {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 5px;
    border: 1px solid #202272;
    border-radius: 4px;
    color: #fff;
    background-color: #202272;
    text-align: center;
    text-decoration: none;
}

.edp-menu__dropdown-list-item a.active, .edp-menu__dropdown-list-item a:hover {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.edp-menu__dropdown-list-item:not(:last-child):after {
    content: "\00a0";
}

@media only screen and (max-width: 990px) {
    .edp-menu-container {
        padding-left: 0;
        padding-right: 0;
    }

    .edp-menu {
        overflow: hidden;
        height: calc(100vh - 81px);
        max-height: 100%;
        overflow-y: scroll;
        border-top: 1px solid #196fd2;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 50px;
        align-items: start;
    }

    .edp-menu__item {
        width: 100%;
    }

    .edp-menu__item.show {
        background-color: transparent;
    }

    .edp-menu__item.active {
        padding-left: 15px;
        padding-right: 15px;
        background-color: #196fd2;
    }

/*    .edp-menu__item.active .edp-menu__dropdown {
        padding: 5px 15px 0 15px;
    }*/

    .edp-menu__item > a {
        padding-left: 0;
        text-align: left;
        font-weight: bold;
    }

    .edp-menu__item:not(:last-child) {
        border-bottom: 1px solid #1986dc;
    }

    #edp3-head .edp-menu__item--home {
        flex: 0;
    }

    #edp3-head .edp-menu__item--home .edp-menu__home-text {
        display: inline-block;
    }

    #edp3-head .edp-menu__item--home a::before {
        margin-right: 5px;
    }

    .edp-menu__dropdown {
        text-align: left;
        position: relative;
        display: block;
        background-color: transparent;
        padding: 0 0 10px 0;
        position: relative !important;
        will-change: initial !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;
    }

    .edp-menu__dropdown-list {
        display: block;
    }

    .edp-menu__dropdown-list-item a {
        border: 0;
        margin: 0;
        padding: 11px 15px;
        color: #dff3ff;
        background-color: transparent;
        text-align: left;
        width: 100%;
    }

    .edp-menu__dropdown-list-item a.active, .edp-menu__dropdown-list-item a:hover {
        color: white;
    }

    .edp-menu__dropdown-list-item a.active {
        border: 1px solid white;
    }

    .edp-menu__dropdown-list-item:not(:last-child):after {
        content: "";
    }

    .edp-header {
        position: sticky;
        top: 0;
        z-index: 101;
        border-bottom: 1px solid #d5d6f7;
    }

    .edp-header__menu-btn {
        display: block;
    }

    .edp-header__search-bar /deep/ .form-control {
        display: none;
    }

    .edp-header__search-bar /deep/ .btn-search {
        height: 40px;
        border-radius: 4px !important;
    }
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: rgb(243, 250, 254);;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.dropdown:hover > .dropdown-menu2 {
    display: block;
}

.dropdown-item:hover {
    background: rgb(25, 111, 210);
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.dropdown-menu2 {
    border-radius: 6%;
    padding-top: 0%;
    padding-bottom: 0%;
    background: rgb(32, 34, 114);
}

.edp-header__branding {
    padding-left: 10px !important;
}


/*Cookie css*/
.cookie__bar {
    -ms-overflow-style: none;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 9999;
    width: 100%;
    background: #eee;
    padding: 20px 20px;
    align-items: center;
    box-shadow: 0 -4px 4px rgba(198, 198, 198, 0.05);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    line-height: 1.5;
}
.cookie__bar--bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
.cookie__bar--top {
    top: 0;
    left: 0;
    right: 0;
}
.cookie__bar__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media (min-width: 768px) {
    .cookie__bar__wrap {
        flex-direction: row;
    }
}
.cookie__bar__postpone-button {
    margin-right: auto;
    -ms-flex: 1 1 auto;
}
@media (min-width: 768px) {
    .cookie__bar__postpone-button {
        margin-right: 10px;
    }
}
.cookie__bar__postpone-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.cookie__bar__content {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 0.9rem;
    max-height: 103px;
    overflow: auto;
    width: 100%;
    -ms-flex: 1 1 auto;
}
@media (min-width: 768px) {
    .cookie__bar__content {
        margin-right: auto;
        margin-bottom: 0;
    }
}
.cookie__bar__buttons {
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 768px) {
    .cookie__bar__buttons {
        flex-direction: row;
        width: auto;
    }
}
.cookie__bar__buttons__button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 3px;
    font-size: 0.9rem;
}
.cookie__bar__buttons__button:hover {
    cursor: pointer;
    text-decoration: none;
}
.cookie__bar__buttons__button--accept {
    -ms-flex: 1 1 auto;
    color: #fff;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .cookie__bar__buttons__button--accept {
        margin-bottom: 0;
        margin-right: 10px;
    }
}
.cookie__bar__buttons__button--decline {
    -ms-flex: 1 1 auto;
    color: #fff;
}

.cookie__floating {
    -ms-overflow-style: none;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 9999;
    width: 90%;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(198, 198, 198, 0.3);
    border: 1px solid #ddd;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 6px;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .cookie__floating {
        max-width: 300px;
    }
}
@media (min-width: 768px) {
    .cookie__floating--bottom-left {
        bottom: 20px;
        left: 20px;
        right: auto;
        margin: 0 0;
    }
}
@media (min-width: 768px) {
    .cookie__floating--bottom-right {
        bottom: 20px;
        right: 20px;
        left: auto;
        margin: 0 0;
    }
}
@media (min-width: 768px) {
    .cookie__floating--top-right {
        top: 20px;
        bottom: auto;
        right: 20px;
        left: auto;
        margin: 0 0;
    }
}
@media (min-width: 768px) {
    .cookie__floating--top-left {
        top: 20px;
        bottom: auto;
        right: auto;
        left: 20px;
        margin: 0 0;
    }
}
.cookie__floating__postpone-button {
    display: inline-flex;
    padding: 5px 0 0 20px;
    margin-bottom: -10px;
    margin-right: auto;
}
.cookie__floating__postpone-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.cookie__floating__content {
    font-size: 0.95rem;
    margin-bottom: 5px;
    padding: 15px 20px;
    max-height: 105px;
    overflow: auto;
}
@media (min-width: 768px) {
    .cookie__floating__content {
        margin-bottom: 10px;
    }
}
.cookie__floating__buttons {
    transition: all 0.2s ease;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.cookie__floating__buttons__button {
    background-color: #eee;
    font-weight: bold;
    font-size: 0.9rem;
    width: 100%;
    min-height: 40px;
    white-space: nowrap;
    user-select: none;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 0.375rem 0.75rem;
}
.cookie__floating__buttons__button:first-child {
    border-right: 1px solid #ddd;
}
.cookie__floating__buttons__button:hover {
    cursor: pointer;
    text-decoration: none;
}
.cookie__floating__buttons__button--accept {
    color: #4caf50;
    -ms-flex: 1 1 auto;
}
.cookie__floating__buttons__button--accept:hover {
    background: #409343;
    color: #fff;
}
.cookie__floating__buttons__button--decline {
    color: #f44336;
    -ms-flex: 1 1 auto;
}
.cookie__floating__buttons__button--decline:hover {
    background: #f21f0f;
    color: #fff;
}
/*
.slideFromBottom-enter, .slideFromBottom-leave-to {
    transform: translate(0px, 10em);
}
.slideFromBottom-enter-to, .slideFromBottom-leave {
    transform: translate(0px, 0px);
}
.slideFromBottom-enter-active {
    transition: transform 0.2s ease-out;
}
.slideFromBottom-leave-active {
    transition: transform 0.2s ease-in;
}
.slideFromTop-enter, .slideFromTop-leave-to {
    transform: translate(0px, -10em);
}
.slideFromTop-enter-to, .slideFromTop-leave {
    transform: translate(0px, 0px);
}
.slideFromTop-enter-active {
    transition: transform 0.2s ease-out;
}
.slideFromTop-leave-active {
    transition: transform 0.2s ease-in;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
*/
