body{
	background-color: white;
	background-image: none;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("#{resource['fonts:glyphicons-halflings-regular.eot']}");
	src: url("#{resource['fonts:glyphicons-halflings-regular.eot']}?#iefix")
		format('embedded-opentype'),
		url("#{resource['fonts:glyphicons-halflings-regular.woff2']}")
		format('woff2'),
		url("#{resource['fonts:glyphicons-halflings-regular.woff']}")
		format('woff'),
		url("#{resource['fonts:glyphicons-halflings-regular.ttf']}")
		format('truetype'),
		url("#{resource['fonts:glyphicons-halflings-regular.svg']}#glyphicons_halflingsregular")
		format('svg');
}

/* #content {
	margin-bottom: 15px;
} */
.gray_bg {
  padding-bottom: 30px;
}

.checkbox-sparql-manager {
	display: inline-block;
	margin-right: 10px !important;
}

.btn-sparql-manager-collapsable {
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}

.form-group-sparql-manager {
	margin-bottom: 0px;
}

.btn-link-sparql-manager {
	margin-bottom: 0px;
}

.table-sparql-manager {
	margin-bottom: 0px;
}

.overlay-sparql-manager {
	position: absolute !important;
	top: 0px;
	right: 0px;
	z-index: 10;
	clear: both;
	margin: 1em;
}

.information-icon-sparql-manager {
	width: 1.5em;
	height: 1.5em;
}

#examples-list li a {
	white-space: pre-wrap;
	min-width: 100px;
	text-align: left;
}

#categories_dropdown {
	min-width: 247px;
	padding : 0px;
	width: 100%;
	margin-top: -10px;
}

#categories_button {
	min-width: 247px;
	width: 100%;
}

#format_dropdown {
	min-width: 247px;
	padding : 0px;
	width: 100%;
	margin-top: -10px;
}

#format_button {
	min-width: 247px;
	width: 100%;
}

#assistant_id {
	padding-bottom: 15px;
	min-width: 247px;
	width: 100%;
}

.dropdown-menu-right{
	padding-left: 3px;
}

.icon-bar{
	background-color: lightgrey;
}

#field_button {
	min-width: 100px;
	background-color: #d0d9db;
}
.inline{
	display: inline-block;
	margin: 5px;
}

#iconSPAN {
	display:table;
	margin:0 15px
}

#pagingTable	{
	border:1px solid #000;
	border-collapse:collapse;
	font-family:Arial, Sans-Serif;
	font-size:12px;
	text-align:right;
}

#pagingTable th	{
	border:1px solid #333;
	padding:3px 6px;
}

#pagingTable td	{
	border:1px solid #999;
	padding:3px 6px;
}

@media only screen and (max-width: 600px) {
	#turnover, td:nth-child(3)		{ display:none; visibility:hidden; }
	#turnover, th:nth-child(3)		{ display:none; visibility:hidden; }
}

.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: #1476bf !important;
}

#layout-header #banner-flag{
	width: 62px;
	height: 62px;
	left: 25px;
}

.h1{
	font-size: 24px !important;
}

.row{
	margin: 0 !important;
}

.reset-list.language-selector-close{
	right : 15px;
}

.panel-default>.panel-heading {
	color: transparent;
	 background-color: transparent;
	 border-color: transparent;
}