<ui:composition template="WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="title">
        <h:outputText value="#{messages['SPARQLMANAGER.TITLE']}"/>
    </ui:define>

    <ui:define name="js">
        <script
                src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"/>
    </ui:define>

    <ui:define name="content">
        <div id="assistant" class="container-fluid datasets content">
            <f:metadata>
                <f:event listener="#{searchBean.preRender}" type="preRenderView"/>
            </f:metadata>

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h3 style="color: rgb(32, 34, 114);">
                            <h:outputText value="#{messages['SPARQLMANAGER.LINK.ASSISTANT']}"/>
                        </h3>
                    </div>
                    <h:form id="assistentForm">
                        <div class="row">
                            <div class="col-lg-4">
                                <div data-intro="#{messages['SPARQLMANAGER.HELP.SEARCHSTRING']}">
                                    <div class="input-group" id="assistant_id1">
                                        <h:inputText styleClass="form-control"
                                                     onkeypress="if (event.keyCode === 13) { return false; }"
                                                     value="#{searchBean.searchString}"
                                                     pt:placeholder="#{messages['SPARQLMANAGER.LABEL.SEARCHSTRING']}">
                                            <f:ajax event="valueChange"
                                                    listener="#{searchBean.updateQuery()}" render="helpme"/>
                                        </h:inputText>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    id="field_button"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <span class="caret" />
                                                #{messages['SPARQLMANAGER.LABEL.FIELD']}
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <h:selectBooleanCheckbox id="title" value="#{searchBean.title}"
                                                                             styleClass="checkbox checkbox-sparql-manager">
                                                        <f:ajax listener="#{searchBean.updateQuery()}" render="helpme"/>
                                                    </h:selectBooleanCheckbox>
                                                    <h:outputLabel value="#{messages['SPARQLMANAGER.LABEL.TITLE']}"
                                                                   for="title"/>
                                                </li>
                                                <li><h:selectBooleanCheckbox id="description"
                                                                             styleClass="checkbox checkbox-sparql-manager"
                                                                             value="#{searchBean.description}">
                                                    <f:ajax listener="#{searchBean.updateQuery()}" render="helpme"/>
                                                </h:selectBooleanCheckbox>
                                                    <h:outputLabel
                                                            value="#{messages['SPARQLMANAGER.LABEL.DESCRIPTION']}"
                                                            for="description"/>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="btn-group" data-intro="#{messages['SPARQLMANAGER.HELP.CATEGORIES']}"
                                     id="assistant_id2">
                                    <button type="button" class="btn btn-primary dropdown-toggle width-150px"
                                            id="categories_button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <span class="caret" />
                                        #{messages['SPARQLMANAGER.LABEL.CATEGORY']}
                                    </button>
                                    <div class="dropdown-menu pre-scrollable" id="categories_dropdown">
                                        <h:selectManyCheckbox value="#{searchBean.categories}"
                                                              layout="pageDirection"
                                                              id="category"
                                                              styleClass="table table-condensed table-sparql-manager">
                                            <f:selectItems styleClass="form-control"
                                                           value="#{searchBean.availableCategories.entrySet()}"
                                                           var="entry" itemValue="#{entry.key}"
                                                           itemLabel="&#160; #{entry.value}"/>
                                            <f:ajax listener="#{searchBean.updateQuery()}" render="helpme"/>
                                        </h:selectManyCheckbox>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="btn-group"
                                     data-intro="#{messages['SPARQLMANAGER.HELP.DISTRIBUTIONFORMATS']}"
                                     id="assistant_id3">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                            id="format_button" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret" />
                                        #{messages['SPARQLMANAGER.LABEL.DISTRIBUTIONFORMATS']}
                                    </button>
                                    <div class="dropdown-menu pre-scrollable" id="format_dropdown">
                                        <h:selectManyCheckbox layout="pageDirection"
                                                              value="#{searchBean.formats}"
                                                              styleClass="table table-condensed table-sparql-manager"
                                                              id="distributionFormat">
                                            <f:selectItems styleClass="form-control"
                                                           value="#{searchBean.availableFormats.entrySet()}" var="entry"
                                                           itemValue="#{entry.key}" itemLabel="&#160; #{entry.value}"/>
                                            <f:ajax listener="#{searchBean.updateQuery()}" render="helpme"/>
                                        </h:selectManyCheckbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div data-intro="#{messages['SPARQLMANAGER.HELP.COUNT']}">
                                        <h:selectBooleanCheckbox id="count" value="#{searchBean.count}"
                                                                 styleClass="checkbox checkbox-sparql-manager">
                                            <f:ajax listener="#{searchBean.updateQuery()}" render="helpme"/>
                                        </h:selectBooleanCheckbox>
                                        <h:outputLabel value="#{messages['SPARQLMANAGER.LABEL.COUNT']}" for="count"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ui:include src="WEB-INF/commonSearch.xhtml"/>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <c:set var="result" value="#{searchBean.result}"/>
            <ui:include src="WEB-INF/commonDownload.xhtml"/>
        </div>
    </ui:define>
</ui:composition>