<ui:composition template="WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://java.sun.com/jstl/core">
    <!--<ui:define name="title">
        <h:outputText value="#{messages['SPARQLMANAGER.SITE.TITLE']}" />
    </ui:define>-->
    <ui:define name="js">
        <script
                src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"/>
    </ui:define>

    <ui:define name="content">
        <div id="index" class="container-fluid datasets content">
            <f:metadata>
                <f:event listener="#{searchBean.preRender}" type="preRenderView"/>
                <f:attribute name="lange" value="#{languageBean.lang}"/>
                <f:viewParam name="lange" value="#{languageBean.lang}"/>
            </f:metadata>

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h3 style="color: rgb(32, 34, 114);">
                            <h:outputText
                                    value="#{messages['SPARQLMANAGER.TITLE.SPARQL_SEARCH']}"/>
                        </h3>
                        <p>
                            <h:outputText escape="false"
                                          value="#{messages['SPARQLMANAGER.DESCRIPTION1']}"/>
                            <br/>
                            <h:outputText escape="false"
                                          value="#{messages['SPARQLMANAGER.DESCRIPTION2']}"/>
                            <br/>
                            <h:outputText escape="false"
                                          value="#{messages['SPARQLMANAGER.DESCRIPTION3']}"/>
                        </p>
                    </div>
                    <h:form id="searchForm">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <ui:include src="WEB-INF/commonSearch.xhtml"/>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div
                                        data-intro="#{messages['SPARQLMANAGER.HELP.SPARQL_EXAMPLES']}">
							<span class="label label-default"> <h:outputText
                                    value="#{messages['SPARQLMANAGER.LABEL.SPARQL_EXAMPLES']}"/>
							</span>
                                    <ul class="list-group" id="examples-list">
                                        <li class="list-group-item"><c:set var="example1"
                                                                           value="#{queries['SPARQLMANAGER.SPARQL.QUERY.EXAMPLE1']}"/>
                                            <h:commandLink
                                                    value="#{messages['SPARQLMANAGER.LABEL.SPARQL_EXAMPLE1_LABEL']}"
                                                    styleClass="btn btn-link text-truncate" style="display: block">
                                                <f:ajax event="click"
                                                        listener="#{searchBean.updateQuery(example1)}" render="helpme"/>
                                            </h:commandLink></li>
                                        <li class="list-group-item"><c:set var="example2"
                                                                           value="#{queries['SPARQLMANAGER.SPARQL.QUERY.EXAMPLE2']}"/>
                                            <h:commandLink
                                                    value="#{messages['SPARQLMANAGER.LABEL.SPARQL_EXAMPLE2_LABEL']}"
                                                    styleClass="btn btn-link text-truncate" style="display: block">
                                                <f:ajax event="click"
                                                        listener="#{searchBean.updateQuery(example2)}" render="helpme"/>
                                            </h:commandLink></li>
                                        <li class="list-group-item"><c:set var="example3"
                                                                           value="#{queries['SPARQLMANAGER.SPARQL.QUERY.EXAMPLE3']}"/>
                                            <h:commandLink
                                                    value="#{messages['SPARQLMANAGER.LABEL.SPARQL_EXAMPLE3_LABEL']}"
                                                    styleClass="btn btn-link text-truncate" style="display: block">
                                                <f:ajax event="click"
                                                        listener="#{searchBean.updateQuery(example3)}" render="helpme"/>
                                            </h:commandLink></li>
                                        <li class="list-group-item"><c:set var="example4"
                                                                           value="#{queries['SPARQLMANAGER.SPARQL.QUERY.EXAMPLE4']}"/>
                                            <h:commandLink
                                                    value="#{messages['SPARQLMANAGER.LABEL.SPARQL_EXAMPLE4_LABEL']}"
                                                    styleClass="btn btn-link text-truncate" style="display: block">
                                                <f:ajax event="click"
                                                        listener="#{searchBean.updateQuery(example4)}" render="helpme"/>
                                            </h:commandLink></li>
                                        <li class="list-group-item"><c:set var="example5"
                                                                           value="#{queries['SPARQLMANAGER.SPARQL.QUERY.EXAMPLE5']}"/>
                                            <h:commandLink
                                                    value="#{messages['SPARQLMANAGER.LABEL.SPARQL_EXAMPLE5_LABEL']}"
                                                    styleClass="btn btn-link text-truncate" style="display: block">
                                                <f:ajax event="click"
                                                        listener="#{searchBean.updateQuery(example5)}" render="helpme"/>
                                            </h:commandLink></li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
            <c:set var="result" value="#{searchBean.result}"/>
            <div class="row">
                <div class="col-lg-12">
                    <ui:include src="WEB-INF/commonDownload.xhtml"/>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
