<ui:composition template="WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ef="http://sparqlmanager.com/ExtraFunctions">
    <ui:define name="title">
        <h:outputText value="#{messages['SPARQLMANAGER.SITE.TITLE']}"/>
    </ui:define>
    <ui:define name="content">
        <div class="row">

            <!-- <ui:fragment rendered="#{profileBean.authenticated}"> -->

            <div class="col-lg-12">
                <h3 data-intro="#{messages['SPARQLMANAGER.HELP.TITLE.QUERY_LIST']}">
                <!--<span class="fa fa-lock" aria-hidden="true"/> -->
               <h:outputText
                       value="Please provide your username and password:"/> <!--"#{messages['SPARQLMANAGER.TITLE.QUERY_LIST']}"-->
           </h3>

           <h:form  styleClass="form-group"  id="user-form">
               <h:outputLabel for="username">User Name</h:outputLabel>
               <h:inputText styleClass="form-control" id="username" value="#{user.name}" required="true"
                            requiredMessage="Username is required"/><br/>
               <h:outputLabel for="password">Password</h:outputLabel>
               <h:inputText styleClass="form-control" id="password" value="#{user.password}" required="true"
                            requiredMessage="Password is required"/><br/>
               <h:commandButton styleClass="btn btn-primary" id="submit-button" value="Login" action="response.xhtml"/>
           </h:form>
       </div>
       <!-- </ui:fragment> -->
            <!--<ui:fragment rendered="#{configBean.myQueriesFeatureEnabled and profileBean.authenticated}">
               <div data-intro="#{messages['SPARQLMANAGER.HELP.CREATE_QUERY']}">
                   <h:outputLink
                           styleClass="btn btn-success" value="#{request.contextPath}/#{languageBean.lang}/query/new">
                       <h:outputText value="#{messages['SPARQLMANAGER.BUTTON.CREATE_QUERY']}"/>
                   </h:outputLink>
               </div>
           </ui:fragment>-->
        </div>
    </ui:define>
</ui:composition>
