<ui:composition template="WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ef="http://sparqlmanager.com/ExtraFunctions">
    <ui:define name="title">
        <h:outputText value="#{messages['SPARQLMANAGER.SITE.TITLE']}"/>
    </ui:define>
    <ui:define name="content">
        <div id="queries" class="container-fluid datasets content" style="min-height: 200px">
            <ui:fragment rendered="#{configBean.myQueriesFeatureEnabled}">
                <div class="row">

                    <ui:fragment rendered="#{profileBean.authenticated}">

                        <div class="col-lg-12">
                            <h3 data-intro="#{messages['SPARQLMANAGER.HELP.TITLE.QUERY_LIST']}">
                                <span class="fa fa-lock" aria-hidden="true"/>
                                <h:outputText
                                        value="  #{messages['SPARQLMANAGER.TITLE.QUERY_LIST']}"/>
                            </h3>
                            <div class="well">
                                <h:form id="form">
                                    <ui:fragment rendered="#{empty queriesBean.queries}">
                                        <p>
                                            <h:outputText
                                                    value="#{messages['SPARQLMANAGER.MESSAGE.NO_QUERIES']}"/>
                                        </p>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{!empty queriesBean.queries}">
                                        <h:dataTable value="#{queriesBean.queries}" var="query"
                                                     styleClass="table table-hover table-condensed" id="pagingTable1">
                                            <h:column>
                                                <f:facet name="header">
                                                    <div
                                                            data-intro="#{messages['SPARQLMANAGER.HELP.QUERYNAME']}">
                                                        <h:outputText
                                                                value="#{messages['SPARQLMANAGER.LABEL.QUERYNAME']}"/>
                                                    </div>
                                                </f:facet>
                                                <h:outputText value="#{ef:cutIt(query.queryName,15)}"
                                                              title="#{query.queryId}"/>
                                            </h:column>

                                            <h:column priority="2">
                                                <f:facet name="header">
                                                    <div
                                                            data-intro="#{messages['SPARQLMANAGER.HELP.QUERYENABLED']}">
                                                        <h:outputText
                                                                value="#{messages['SPARQLMANAGER.LABEL.QUERYENABLED']}"/>
                                                    </div>
                                                </f:facet>
                                                <ui:fragment rendered="#{query.enabled}">
                                                    <span id="iconSPAN1" class="fa fa-toggle-on" aria-hidden="true"/>
                                                </ui:fragment>
                                                <ui:fragment rendered="#{!query.enabled}">
                                                    <span id="iconSPAN2" class="fa fa-toggle-off"
                                                          aria-hidden="true"/>
                                                </ui:fragment>
                                                <!--                                                <h:selectBooleanCheckbox
                                                                                                        title="#{messages['SPARQLMANAGER.HELP.QUERYENABLED']}"
                                                                                                        disabled="true" readonly="true" id="enabled"
                                                                                                        styleClass="checkbox" value="#{query.enabled}"/>-->
                                            </h:column>
                                            <h:column priority="3">
                                                <f:facet name="header">
                                                    <div
                                                            data-intro="#{messages['SPARQLMANAGER.HELP.QUERYCOMMENT']}">
                                                        <h:outputText
                                                                value="#{messages['SPARQLMANAGER.LABEL.QUERYCOMMENT']}"/>
                                                    </div>
                                                </f:facet>
                                                <h:outputText value="#{ef:cutIt(query.comment,30)}"/>
                                            </h:column>

                                            <h:column priority="2">
                                                <f:facet name="header">
                                                    <div data-intro="#{messages['SPARQLMANAGER.HELP.DETAILS']}">
                                                        <h:outputText
                                                                value="#{messages['SPARQLMANAGER.LABEL.QUERY_DETAILS']}"/>
                                                    </div>
                                                </f:facet>
                                                <span class="glyphicon glyphicon-search"/>
                                                <h:outputLink
                                                        styleClass="btn btn-link"
                                                        value="#{request.contextPath}/#{languageBean.lang}/query/#{query.queryId}">
                                                    <h:outputText value="#{messages['SPARQLMANAGER.BUTTON.DETAILS']}"/>
                                                </h:outputLink>
                                            </h:column>
                                        </h:dataTable>
                                        <nav aria-label="Page navigation" style="text-align: right">
                                            <ul class="pagination">
                                                <li class="#{queriesBean.secondLimit==0?'disabled':''}">
                                                    <h:outputLink disabled="#{queriesBean.secondLimit==0}"
                                                                  value="#{request.contextPath}/#{languageBean.lang}/queries/#{queriesBean.firstLimit}/0">
                                                        <h:outputText
                                                                value="&#171;"/>
                                                    </h:outputLink>
                                                </li>
                                                <ui:repeat value="#{queriesBean.pageNumbersPrivate}" var="item">
                                                    <li class="#{queriesBean.secondLimit==item?'active':''}">
                                                        <h:outputLink
                                                                value="#{request.contextPath}/#{languageBean.lang}/queries/#{queriesBean.firstLimit}/#{item}">
                                                            <h:outputText
                                                                    value="#{item}"/>
                                                        </h:outputLink>
                                                    </li>
                                                </ui:repeat>
                                                <li class="#{queriesBean.secondLimit==queriesBean.maxPrivate-1?'disabled':''}">
                                                    <h:outputLink
                                                            disabled="#{queriesBean.secondLimit==queriesBean.maxPrivate-1}"
                                                            value="#{request.contextPath}/#{languageBean.lang}/queries/#{queriesBean.firstLimit}/#{queriesBean.maxPrivate-1}">
                                                        <h:outputText
                                                                value="&#187;"/>
                                                    </h:outputLink>
                                                </li>
                                            </ul>
                                        </nav>
                                    </ui:fragment>
                                </h:form>
                            </div>
                        </div>
                    </ui:fragment>

                    <div class="col-lg-12">
                        <h3 data-intro="#{messages['SPARQLMANAGER.HELP.TITLE.PUBLIC.QUERY_LIST']}">
                            <span class="fa fa-unlock" aria-hidden="true"/>
                            <h:outputText
                                    value="  #{messages['SPARQLMANAGER.TITLE.PUBLIC.QUERY_LIST']}"/>
                        </h3>
                        <div class="well">
                            <h:form id="forme">
                                <ui:fragment rendered="#{empty queriesBean.publicQueries}">
                                    <p data-intro="#{messages['SPARQLMANAGER.HELP.DETAILS']}">
                                        <h:outputText
                                                value="#{messages['SPARQLMANAGER.MESSAGE.NO_QUERIES']}"/>
                                    </p>
                                </ui:fragment>

                                <ui:fragment rendered="#{!empty queriesBean.publicQueries}">
                                    <h:dataTable value="#{queriesBean.publicQueries}" var="query"
                                                 styleClass="table table-hover table-condensed"
                                                 id="pagingTable2">
                                        <h:column>
                                            <f:facet name="header">
                                                <div
                                                        data-intro="#{messages['SPARQLMANAGER.HELP.QUERYNAME']}">
                                                    <h:outputText
                                                            value="#{messages['SPARQLMANAGER.LABEL.QUERYNAME']}"/>
                                                </div>
                                            </f:facet>
                                            <h:outputText value="#{ef:cutIt(query.queryName,15)}"
                                                          title="#{query.queryId}"/>
                                        </h:column>

                                        <h:column priority="2">
                                            <f:facet name="header">
                                                <div
                                                        data-intro="#{messages['SPARQLMANAGER.HELP.QUERYENABLED']}">
                                                    <h:outputText
                                                            value="#{messages['SPARQLMANAGER.LABEL.QUERYENABLED']}"/>
                                                </div>
                                            </f:facet>
                                            <ui:fragment rendered="#{query.enabled}">
                                                <span id="iconSPAN3" class="fa fa-toggle-on" aria-hidden="true"/>
                                            </ui:fragment>
                                            <ui:fragment rendered="#{!query.enabled}">
                                                <span id="iconSPAN4" class="fa fa-toggle-off"
                                                      aria-hidden="true"/>
                                            </ui:fragment>
                                            <!-- <h:selectBooleanCheckbox
                                                     title="#{messages['SPARQLMANAGER.HELP.QUERYENABLED']}"
                                                     disabled="true" readonly="true" id="enabled"
                                                     styleClass="checkbox" value="#{query.enabled}"/>-->
                                        </h:column>

                                        <h:column priority="3">
                                            <f:facet name="header">
                                                <div
                                                        data-intro="#{messages['SPARQLMANAGER.HELP.QUERYCOMMENT']}">
                                                    <h:outputText
                                                            value="#{messages['SPARQLMANAGER.LABEL.QUERYCOMMENT']}"/>
                                                </div>
                                            </f:facet>
                                            <h:outputText value="#{ef:cutIt(query.comment,30)}"/>
                                            <!--<h:outputText value="#{query.comment.length() gt 50 ?query.comment.substring(0,20).concat('...') : query.comment}" />-->
                                        </h:column>

                                        <h:column priority="2">
                                            <f:facet name="header">
                                                <div data-intro="#{messages['SPARQLMANAGER.HELP.DETAILS']}">
                                                    <h:outputText
                                                            value="#{messages['SPARQLMANAGER.LABEL.QUERY_DETAILS']}"/>
                                                </div>
                                            </f:facet>
                                            <span class="glyphicon glyphicon-search"/>
                                            <h:outputLink
                                                    styleClass="btn btn-link"
                                                    value="#{request.contextPath}/#{languageBean.lang}/query/#{query.queryId}">
                                                <h:outputText value="#{messages['SPARQLMANAGER.BUTTON.DETAILS']}"/>
                                            </h:outputLink>
                                        </h:column>
                                    </h:dataTable>
                                    <nav aria-label="Page navigation" style="text-align: right">
                                        <ul class="pagination">
                                            <li class="#{queriesBean.firstLimit==0?'disabled':''}">
                                                <h:outputLink disabled="#{queriesBean.firstLimit==0}"
                                                              value="#{request.contextPath}/#{languageBean.lang}/queries/0/#{queriesBean.secondLimit}">
                                                    <h:outputText
                                                            value="&#171;"/>
                                                </h:outputLink>
                                            </li>
                                            <ui:repeat value="#{queriesBean.pageNumbersPublic}" var="item">
                                                <li class="#{queriesBean.firstLimit==item?'active':''}">
                                                    <h:outputLink
                                                            value="#{request.contextPath}/#{languageBean.lang}/queries/#{item}/#{queriesBean.secondLimit}">
                                                        <h:outputText
                                                                value="#{item}"/>
                                                    </h:outputLink>
                                                </li>
                                            </ui:repeat>
                                            <li class="#{queriesBean.firstLimit==queriesBean.maxPublic-1?'disabled':''}">
                                                <h:outputLink
                                                        disabled="#{queriesBean.firstLimit==queriesBean.maxPublic-1}"
                                                        value="#{request.contextPath}/#{languageBean.lang}/queries/#{queriesBean.maxPublic-1}/#{queriesBean.secondLimit}">
                                                    <h:outputText
                                                            value="&#187;"/>
                                                </h:outputLink>
                                            </li>
                                        </ul>
                                    </nav>
                                </ui:fragment>
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:fragment>
            <ui:fragment rendered="#{configBean.myQueriesFeatureEnabled and profileBean.authenticated}">
                <div data-intro="#{messages['SPARQLMANAGER.HELP.CREATE_QUERY']}">
                    <h:outputLink
                            styleClass="btn btn-success" value="#{request.contextPath}/#{languageBean.lang}/query/new">
                        <h:outputText value="#{messages['SPARQLMANAGER.BUTTON.CREATE_QUERY']}"/>
                    </h:outputLink>
                </div>
            </ui:fragment>
        </div>
    </ui:define>
</ui:composition>
