<ui:composition template="WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <ui:define name="title">
        <h:outputText value="#{messages['SPARQLMANAGER.SITE.TITLE']}"/>
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam id="queryId" name="queryId" value="#{queryBean.queryId}"
                         default="0"/>
            <f:viewAction action="#{queryBean.loadQuery}"/>
        </f:metadata>
	</ui:define>

	<ui:define name="content">
		<div id="query">
			<ui:fragment rendered="#{configBean.myQueriesFeatureEnabled}">
				<ui:fragment rendered="#{queryBean.query != null}">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-sm-7" style="padding: 20px">
							<h3>
								<h:outputText value="#{messages['SPARQLMANAGER.TITLE.QUERY_DETAILS']}"/>
							</h3>
							<h:form id="queryForm" styleClass="form-horizontal">
								<div data-intro="#{messages['SPARQLMANAGER.HELP.QUERYNAME']}">
									<div class="form-group">
										<h:outputLabel for="queryName"
													   styleClass="col-sm-4 col-md-4 col-lg-4 control-label"
													   value="#{messages['SPARQLMANAGER.LABEL.QUERYNAME']}"/>
										<div class="col-sm-8 col-lg-8 col-md-8">
											<h:inputText styleClass="form-control" id="queryName"
														 disabled="#{!queryBean.authenticated}"
														 value="#{queryBean.query.queryName}"
														 pt:placeholder="#{messages['SPARQLMANAGER.LABEL.QUERYNAME']}"
														 required="true"/>
											<h:message id="queryNameMessage" for="queryName"
													   styleClass="alert alert-warning"/>
										</div>
									</div>
								</div>
								<div data-intro="#{messages['SPARQLMANAGER.HELP.SPARQL_QUERY']}">
									<div class="form-group">
										<h:outputLabel for="queryString"
													   styleClass="col-sm-4 col-md-4 col-lg-4 control-label"
													   value="#{messages['SPARQLMANAGER.LABEL.SPARQL_QUERY']}"/>
										<div class="col-sm-8 col-lg-8 col-md-8">
											<h:inputTextarea rows="5" styleClass="form-control"
															 disabled="#{!queryBean.authenticated}"
															 id="queryString" value="#{queryBean.query.queryString}"
															 pt:placeholder="#{messages['SPARQLMANAGER.LABEL.SPARQL_QUERY']}"
															 required="true"
															 validator="#{queryBean.validateSparqlQuery}"/>
											<h:message id="queryStringMessage" for="queryString"
													   styleClass="alert alert-warning"/>
										</div>
									</div>
								</div>
								<div data-intro="#{messages['SPARQLMANAGER.HELP.RESULTFORMAT']}">
									<div class="form-group">
										<h:outputLabel for="resultFormat"
													   styleClass="col-sm-4 col-md-4 col-lg-4 control-label"
													   value="#{messages['SPARQLMANAGER.LABEL.RESULTFORMAT']}"/>
										<div class="col-sm-8 col-lg-8 col-md-8">
											<h:selectOneMenu id="resultFormat" styleClass="form-control"
															 value="#{queryBean.query.resultFormat}" required="true"
															 disabled="#{!queryBean.authenticated}">
												<f:selectItems
														value="#{searchBean.availableResultFormats.entrySet()}"
														var="entry" itemValue="#{entry.key}"
														itemLabel="#{entry.value}"/>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<ui:fragment rendered="#{queryBean.authenticated}">
									<div data-intro="#{messages['SPARQLMANAGER.HELP.NOTIFICATIONEMAIL']}">
										<div class="form-group">
											<h:outputLabel for="notificationString"
														   styleClass="col-sm-4 col-md-4 col-lg-4 control-label"
														   value="#{messages['SPARQLMANAGER.LABEL.NOTIFICATIONEMAIL']}"/>
											<div class="col-sm-8 col-lg-8 col-md-8">
												<h:inputText styleClass="form-control"
															 id="notificationString"
															 value="#{queryBean.query.notificationString}"
															 pt:placeholder="#{messages['SPARQLMANAGER.LABEL.NOTIFICATIONEMAIL']}"
															 required="false"/>
												<h:message id="notificationStringMessage"
														   for="notificationString" styleClass="alert alert-warning"/>
											</div>
										</div>
									</div>
								</ui:fragment>
								<ui:fragment rendered="#{queryBean.authenticated}">
									<div data-intro="#{messages['SPARQLMANAGER.HELP.SCHEDULESTRING']}">
										<div class="form-group">
											<h:outputLabel for="scheduleString"
														   styleClass="col-sm-4 col-md-4 col-lg-4 control-label"
														   value="#{messages['SPARQLMANAGER.LABEL.SCHEDULESTRING']}"/>
											<div class="col-sm-8 col-lg-8 col-md-8">
												<h:selectOneMenu styleClass="form-control"
																 id="scheduleString"
																 value="#{queryBean.query.scheduleString}"
																 required="true">
													<f:selectItem itemValue="0 0 0 0 -1 * *"
																  itemLabel="#{messages['SPARQLMANAGER.LABEL.SCHEDULE_MONTHLY']}" />
													<f:selectItem itemValue="0 0 0 0 * * *"
																  itemLabel="#{messages['SPARQLMANAGER.LABEL.SCHEDULE_WEEKLY']}" />
													<f:selectItem itemValue="0 0 0 * * * *"
																  itemLabel="#{messages['SPARQLMANAGER.LABEL.SCHEDULE_DAILY']}" />
													<f:selectItem itemValue="0 0 0 0 -1 * 2099"
																  itemLabel="#{messages['SPARQLMANAGER.LABEL.SCHEDULE_MANUAL']}" />
												</h:selectOneMenu>
												<!--  <h:message id="scheduleStringMessage" for="scheduleString"
                                                styleClass="alert alert-warning" /> -->
											</div>
										</div>
									</div>
								</ui:fragment>
								<div data-intro="#{messages['SPARQLMANAGER.HELP.QUERYCOMMENT']}">
									<div class="form-group">
										<h:outputLabel for="comment"
													   styleClass="col-sm-4 col-md-4 col-lg-4 control-label"
													   value="#{messages['SPARQLMANAGER.LABEL.QUERYCOMMENT']}"/>
										<div class="col-sm-8 col-md-8 col-lg-8">
											<h:inputText styleClass="form-control" id="comment"
														 disabled="#{!queryBean.authenticated}"
														 value="#{queryBean.query.comment}"
														 pt:placeholder="#{messages['SPARQLMANAGER.LABEL.QUERYCOMMENT']}"/>
										</div>
									</div>
								</div>
								<div data-intro="#{messages['SPARQLMANAGER.HELP.QUERYENABLED']}">
									<div class="row form-group">
										<h:outputLabel for="enabled"
													   styleClass="col-sm-4 col-lg-4 col-md-4 control-label"
													   value="#{messages['SPARQLMANAGER.LABEL.QUERYENABLED']}"/>
										<div class="col-sm-8 col-lg-8 col-md-8">
											<h:selectBooleanCheckbox id="enabled" styleClass="checkbox"
																	 disabled="#{!queryBean.authenticated}"
																	 value="#{queryBean.query.enabled}"/>
										</div>
									</div>
								</div>
								<div data-intro="To set the Query public">
									<div class="row form-group">
										<h:outputLabel for="public"
													   styleClass="col-sm-4 col-lg-4 col-md-4 control-label"
													   value="#{messages['SPARQLMANAGER.LABEL.QUERYPUBLIC']}"/>
										<div class="col-sm-8 col-lg-8 col-md-8">
											<h:selectBooleanCheckbox id="public" styleClass="checkbox"
																	 disabled="#{!queryBean.authenticated}"
																	 value="#{queryBean.query.publicised}"/>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4 col-md-4 col-lg-4 ">
										<div data-intro="#{messages['SPARQLMANAGER.HELP.BACK']}">
											<h:outputLink
													styleClass="btn btn-primary"
													value="#{request.contextPath}/#{languageBean.lang}/queries">
												<h:outputText value="#{messages['SPARQLMANAGER.BUTTON.BACK']}"/>
											</h:outputLink>
										</div>
									</div>

									<ui:fragment rendered="#{queryBean.queryId == 0}">
										<div class="col-sm-8 col-lg-8 col-md-8">
											<div
													data-intro="#{messages['SPARQLMANAGER.HELP.CREATE_QUERY']}">
												<h:commandLink styleClass="btn btn-success"
															   action="#{queryBean.createQuery}">
													<span class="glyphicon glyphicon-plus-sign"/>
													<h:outputText value="&#160;"/>
													<h:outputText
															value="#{messages['SPARQLMANAGER.BUTTON.CREATE_QUERY']}"/>
												</h:commandLink>
											</div>
										</div>
									</ui:fragment>
								</div>
								<div class="row">
									<ui:fragment rendered="#{queryBean.queryId != 0 and queryBean.authenticated}">
										<div class="col-sm-4 col-md-4 col-lg-4 ">
											<div data-intro="#{messages['SPARQLMANAGER.HELP.UPDATE']}">
												<h:commandLink styleClass="btn btn-primary"
															   action="#{queryBean.updateQuery}">
													<span class="glyphicon glyphicon-ok-sign"/>
													<h:outputText value="&#160;"/>
													<h:outputText
															value="#{messages['SPARQLMANAGER.BUTTON.UPDATE']}"/>
												</h:commandLink>
											</div>
										</div>
										<div class="col-sm-4 col-md-4 col-lg-4 ">
											<div
													data-intro="#{messages['SPARQLMANAGER.HELP.DELETE_QUERY']}">
												<h:commandLink styleClass="btn btn-primary"
															   action="#{queryBean.deleteQuery}">
													<span class="glyphicon glyphicon-remove-sign"/>
													<h:outputText value="&#160;"/>
													<h:outputText
															value="#{messages['SPARQLMANAGER.BUTTON.DELETE_QUERY']}"/>
												</h:commandLink>
											</div>
										</div>
									</ui:fragment>
								</div>
							</h:form>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5" style="padding: 20px">
							<h3>
								<h:outputText
										value="#{messages['SPARQLMANAGER.TITLE.QUERY_RESULTS']}"/>
							</h3>
							<div data-intro="#{messages['SPARQLMANAGER.HELP.QUERY_RESULTS']}">
								<ui:fragment rendered="#{empty queryBean.results}">
									<p>
										<h:outputText
												value="#{messages['SPARQLMANAGER.MESSAGE.NO_RESULTS']}"/>
									</p>
								</ui:fragment>
								<ui:fragment rendered="#{!empty queryBean.results}">
									<h:dataTable value="#{queryBean.results}" var="result"
												 styleClass="table table-hover table-condensed">
										<h:column>
											<f:facet name="header">
												<h:outputText value="#{messages['SPARQLMANAGER.LABEL.ID']}"/>
											</f:facet>
											<h:outputText value="#{result.resultId}"/>
										</h:column>
										<h:column>
											<f:facet name="header">
												<h:outputText
														value="#{messages['SPARQLMANAGER.LABEL.CREATIONTIME']}"/>
											</f:facet>
											<h:outputText title="#{result.creationTime}"
														  value="#{fn:substringBefore(result.creationTime,'T')}"/>
										</h:column>
										<h:column>

											<h:outputLink
													styleClass="btn btn-link"
													value="#{request.contextPath}/#{languageBean.lang}/result/#{result.resultId}/#{queryBean.query.queryId}">
												<span class="glyphicon glyphicon-info-sign"/>
												<h:outputText value="#{messages['SPARQLMANAGER.BUTTON.DETAILS']}"/>
											</h:outputLink>

											<!--												<h:link styleClass="btn btn-link" outcome="result"
                                                                                                includeViewParams="true">
                                                                                                <span class="glyphicon glyphicon-info-sign" />
                                                                                                <h:outputText value="&#160;" />
                                                                                                <h:outputText
                                                                                                    value="#{messages['SPARQLMANAGER.BUTTON.DETAILS']}" />
                                                                                                <f:param name="resultId" value="#{result.resultId}" />
                                                                                                <f:param name="queryId" value="#{queryBean.query.queryId}" />
                                                                                            </h:link>-->
										</h:column>
									</h:dataTable>
								</ui:fragment>
							</div>
							<div data-intro="#{messages['SPARQLMANAGER.HELP.NEXT_RUN']}">
								<dl>
									<dt>
										<h:outputText value="#{messages['SPARQLMANAGER.LABEL.NEXT_RUN']}"/>
									</dt>
									<dd>
										<ui:fragment rendered="#{queryBean.timeout == null}">
											<h:outputText
													value="#{messages['SPARQLMANAGER.LABEL.NEXT_RUN_DISABLED']}"/>
										</ui:fragment>
										<ui:fragment rendered="#{queryBean.timeout != null}">
											<h:outputText id="timeout" value="#{queryBean.timeout}"/>
										</ui:fragment>
									</dd>
								</dl>
							</div>

							<ui:fragment rendered="#{queryBean.queryId != 0}">
								<div data-intro="#{messages['SPARQLMANAGER.HELP.SEARCH']}">
									<h:form id="executeQueryForm">
										<h:commandLink styleClass="btn btn-primary btn-block"
													   action="#{queryBean.executeQuery}">
											<span class="glyphicon glyphicon-search"/>
											<h:outputText value="&#160;"/>
											<h:outputText
													value="#{messages['SPARQLMANAGER.BUTTON.SEARCH']}"/>
										</h:commandLink>
									</h:form>
								</div>
							</ui:fragment>

						</div>
					</div>
				</ui:fragment>
			</ui:fragment>
		</div>
	</ui:define>
</ui:composition>
