<ui:composition template="WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:c="http://java.sun.com/jstl/core">
    <ui:define name="title">
        <h:outputText value="#{messages['SPARQLMANAGER.SITE.TITLE']}"/>
    </ui:define>

    <ui:define name="js">
        <script
                src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js" />
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam id="resultId" name="resultId"
                         value="#{resultBean.resultId}" required="true"
                         requiredMessage="#{messages['SPARQLMANAGER.MESSAGE.ID_REQUIRED']}"/>
            <f:viewParam id="queryId" name="queryId"
                         value="#{resultBean.queryId}" required="true"
                         requiredMessage="#{messages['SPARQLMANAGER.MESSAGE.ID_REQUIRED']}"/>
            <f:viewAction action="#{resultBean.loadResult}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <div id="result">
            <ui:fragment rendered="#{configBean.myQueriesFeatureEnabled}">
                <ui:fragment rendered="#{resultBean.result != null}">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3>
                                <h:outputText
                                        value="#{messages['SPARQLMANAGER.TITLE.RESULT_DETAILS']}"/>
                            </h3>
                            <div class="well">
                                <div
                                        data-intro="#{messages['SPARQLMANAGER.HELP.RESULT_DETAILS']}">
                                    <dl>
                                        <dt>
                                            <h:outputText
                                                    value="#{messages['SPARQLMANAGER.LABEL.RESULTID']}"/>
                                        </dt>
                                        <dd>
                                            <h:outputText value="#{resultBean.result.resultId}"/>
                                        </dd>

                                        <dt>
                                            <h:outputText
                                                    value="#{messages['SPARQLMANAGER.LABEL.CREATIONTIME']}"/>
                                        </dt>
                                        <dd>
                                            <h:outputText title="#{resultBean.result.creationTime}"
                                                          value="#{fn:substringBefore(resultBean.result.creationTime,'T')}"/>
                                        </dd>
                                    </dl>
                                </div>
                                <h:form id="form">
                                    <div data-intro="#{messages['SPARQLMANAGER.HELP.BACK']}">
                                        <h:outputLink
                                                styleClass="btn btn-primary btn-block"
                                                value="#{request.contextPath}/#{languageBean.lang}/query/#{resultBean.queryId}">
                                            <h:outputText value="#{messages['SPARQLMANAGER.BUTTON.BACK']}"/>
                                        </h:outputLink>
                                    </div>
                                    <ui:fragment rendered="#{resultBean.authenticated}">
                                    <div data-intro="#{messages['SPARQLMANAGER.HELP.DELETE_RESULT']}">
                                        <h:commandLink styleClass="btn btn-warning btn-block"
                                                       action="#{resultBean.deleteResult}">
                                            <span class="glyphicon glyphicon-remove-sign"/>
                                            <h:outputText value="&#160;"/>
                                            <h:outputText
                                                    value="#{messages['SPARQLMANAGER.BUTTON.DELETE']}"/>
                                        </h:commandLink>
                                    </div>
                                    </ui:fragment>
                                </h:form>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <c:set var="result" value="#{resultBean.result}"/>
                            <ui:include src="WEB-INF/commonDownload.xhtml"/>
                        </div>
                    </div>
                </ui:fragment>
            </ui:fragment>
        </div>
    </ui:define>
</ui:composition>
