<ui:composition template="WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core">
	<ui:define name="title">
		<h:outputText value="#{messages['SPARQLMANAGER.SITE.TITLE']}" />
	</ui:define>

	<ui:define name="content">
		<div id="user">
			<ui:fragment rendered="#{configBean.myQueriesFeatureEnabled}">
				<div class="row">
					<div class="col-lg-12">
						<div data-intro="#{messages['SPARQLMANAGER.HELP.USERINFO']}">
							<h3>
								<h:outputText
									value="#{messages['SPARQLMANAGER.TITLE.USERPROFILE']}" />
							</h3>

							<dl>
								<dt>
									<h:outputText value="#{messages['SPARQLMANAGER.LABEL.USERID']}" />
								</dt>
								<dd>
									<h:outputText value="#{profileBean.domainUsername}" />
								</dd>
								<dt>
									<h:outputText
										value="#{messages['SPARQLMANAGER.LABEL.USEREMAIL']}" />
								</dt>
								<dd>
									<h:outputText value="#{profileBean.userMail}" />
								</dd>
							</dl>

							<ui:fragment
								rendered='#{ facesContext.isProjectStage("Development") }'>
								<p>
									The following information is only visible within the project
									stage <i>development</i>
								</p>
								<h4>
									<h:outputText
										value="#{messages['SPARQLMANAGER.TITLE.USERATTRIBUTES']}" />
								</h4>
								<p>
									<h:dataTable styleClass="table table-hover table-condensed"
										value="#{profileBean.userProfile.getAttributes().entrySet().toArray()}"
										var="entry">
										<h:column>#{entry.key}</h:column>
										<h:column>#{entry.value}</h:column>
									</h:dataTable>
								</p>

								<h4>
									<h:outputText
										value="#{messages['SPARQLMANAGER.TITLE.USERROLES']}" />
								</h4>
								<p>
									<h:dataTable styleClass="table table-hover table-condensed"
										value="#{profileBean.userProfile.getRoles()}" var="entry">
										<h:column>#{entry}</h:column>
									</h:dataTable>
								</p>

								<h4>
									<h:outputText
										value="#{messages['SPARQLMANAGER.TITLE.USERPERMISSIONS']}" />
								</h4>
								<p>
									<h:dataTable styleClass="table table-hover table-condensed"
										value="#{profileBean.userProfile.getPermissions()}"
										var="entry">
										<h:column>#{entry}</h:column>
									</h:dataTable>
								</p>
							</ui:fragment>
						</div>
					</div>
				</div>
			</ui:fragment>
		</div>
	</ui:define>
</ui:composition>
