<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

<body>
<ui:composition>
    <div id="edp3-footer">
        <div id="edp3">
            <div class="footer_first" id="footer_first">
                <div class="edp-header__container container">
                    <div class="row">
                        <div class="col-md" id="footer_first_left">
                            <div class="region region-footer-first-left">
                                <!--just a link now-->
                                <!--
                                                                <div class="row">
                                -->
                                <div id="block-sitebranding">
                                    <a class="languageSelect"
                                       href="/en"><img
                                            src="${pageContext.request}/sparql-manager/resources/img/edplogo.png"
                                            alt="European data portal logo" />
                                    </a>
                                    <!--                                <app-link class="site-branding__logo" :path="`/${$i18n.locale}`">

                                                                    </app-link>-->
                                    <div class="site-branding__text">
                                        <div class="site-branding__name">
                                            <a class="site-branding__logo languageSelect"
                                               data-title="message.header.navigation.about.europeanDataPortal"
                                               id="text61"
                                               href="/en">European Data Portal
                                            </a>
                                            <!--                                        <app-link class="site-branding__logo" :path="`/${$i18n.locale}`">
                                                                                        {{ $t('message.header.european') }} <strong>{{ $t('message.header.dataPortal') }}</strong>
                                                                                    </app-link>-->
                                        </div>
                                    </div>
                                </div>
                                <!--
                                                                </div>
                                -->
                                <!--
                                                                <div class="row">
                                -->
                                <div id="block-fundedby" style="margin-bottom: 20px">
                                    <div class="clearfix">
                                        <span><img alt="funded by logo"
                                                   src="${pageContext.request}/sparql-manager/resources/img/funded-by.png" /></span>
                                        <span id="text53" data-title="message.footer.fundedBy">Funded by the European Union</span>
                                    </div>
                                </div>
                                <!--
                                                                </div>
                                -->
                                <!--
                                                                <div class="row">
                                -->
                                <div id="block-managedby" style="margin-bottom: 20px">
                                    <div class="clearfix">
                                        <span><img alt="funded by logo"
                                                   src="${pageContext.request}/sparql-manager/resources/img/publications-office.png" /></span>
                                        <span id="text54" data-title="message.footer.managedBy">Managed by the Publications Office of the European Union</span>
                                    </div>
                                </div>
                                <!--
                                                                </div>
                                -->
                            </div>
                        </div>
                        <div class="col-md" id="footer_first_middle">
                            <div class="region region-footer-first-middle">
                                <div id="block-subscribetoournewsletter">
                                    <div class="clearfix">
                                        <h2 id="text60" data-title="message.footer.newsletterText">Stay informed on our latest news!</h2>
                                        <p>
                                            <a class="languageSelect btn btn-footer text-white"
                                               id="text55"
                                               data-title="message.footer.subscribe"
                                               href="/en/newsletter">Subscribe</a>
                                        </p>
                                    </div>
                                </div>
                                <div id="block-helpusimprove">
                                    <div
                                            class="clearfix">
                                        <h2><strong id="text69" data-title="message.footer.helpUsImprove">Help us improve</strong></h2>
                                        <p>
                                            <a class="languageSelect"
                                               id="text64"
                                               data-title="message.footer.helpUsImproveText"
                                               href="/en/feedback/form?type=4">Your feedback will help us to improve the overall user experience.&nbsp;Any suggestions?</a>
                                            <!--                                        <app-link :path="`/${$i18n.locale}/feedback?type=4`">
                                                                                        {{ $t('message.footer.helpUsImproveText') }}
                                                                                    </app-link>-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md" id="footer_first_right">
                            <div class="region region-footer-first-right">
                                <div id="block-followuson">
                                    <div class="clearfix">
                                        <h2 id="text56" data-title="message.footer.followUs">Follow us on</h2>
                                        <ul>
                                            <li>
                                                <a class="facebook" target="_blank"
                                                   href="https://www.facebook.com/EuropeanDataPortal">Facebook</a>
                                            </li>
                                            <li>
                                                <a class="twitter" target="_blank"
                                                   href="https://twitter.com/EU_DataPortal">Twitter</a>
                                            </li>
                                            <li>
                                                <a class="linkedin" target="_blank"
                                                   href="https://www.linkedin.com/groups/8428984/">LinkedIn</a>
                                            </li>
                                            <li>
                                                <a class="youtube" target="_blank"
                                                   href="https://www.youtube.com/channel/UCWRxmFRYBSQyUe6GFOOrxFA">YouTube</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer_second">
                <div class="edp-header__container container">
                    <div class="row">
                        <div class="col-md">
                            <div class="float-md-left">
                                <!-- Last updated message disabled as per https://gitlab.fokus.fraunhofer.de/viaduct/organisation/issues/615#note_93147 -->
                                <!-- {{ $t('message.footer.lastUpdate') }} 11/03/2020 -->
                                <!--<ul class="menu">
                                    <li id="text11" data-title="Last_Updated">Last update:19/03/2020</li>
                                </ul>-->
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="float-md-right">
                                <div class="region region-footer-second">
                                    <nav role="navigation" id="block-servicetools">
                                        <ul class="menu" id="edp3-bottom-footer">
                                            <li class="menu-item">
                                                <a href="/en/newsletter/subscribe" class="languageSelect" id="text57"
                                                   data-title="message.footer.links.newsletter">Newsletter</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/en/faq" id="text80" data-title="message.footer.links.faq" class="languageSelect">FAQ</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/en/feedback/form"
                                                   id="text58"
                                                   data-title="message.footer.links.contact"
                                                   class="languageSelect">Contact</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/en/cookies" id="text59" data-title="message.footer.links.cookies"
                                                   class="languageSelect">Cookies</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/en/legal-notice"
                                                   id="text63"
                                                   data-title="message.footer.links.legalNotice"
                                                   class="languageSelect">Legal notice</a>
                                            </li>
                                            <!--TODO wait for keycloak on prod but basically done-->
<!--                                            <ui:fragment rendered="#{not profileBean.authenticated}">
                                                <li class="menu-item">&lt;!&ndash;id="text67"&ndash;&gt;
                                                    <a href="/sparql-manager/en/user" data-title="Login"
                                                       class="languageSelect">Login</a>
                                                </li>
                                            </ui:fragment>
                                            <ui:fragment rendered="#{profileBean.authenticated}">
                                                <li class="menu-item">&lt;!&ndash;id="text67"&ndash;&gt;
                                                    <a href="/sparql-manager/logout?url=/sparql-manager/#{languageBean.lang}/"
                                                       class="languageSelect">
                                                        <h:outputText value="#{messages['SPARQLMANAGER.LINK.LOGOUT']}"/>
                                                    </a>
                                                </li>
                                                <li class="menu-item">&lt;!&ndash;id="text67"&ndash;&gt;
                                                    <a href="#{request.contextPath}/#{languageBean.lang}/user/#{profileBean.domainUsername}"
                                                       class="languageSelect">
                                                        <h:outputText value="#{profileBean.domainUsername}"/>
                                                    </a>
                                                </li>
                                            </ui:fragment>-->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h:outputScript library="js" name="languageSelect.js"/>
</ui:composition>
</body>
</html>
