<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
<ui:composition>
    <div id="edp3-header">
        <div id="header" class="edp-header">
            <div class="edp-header__container container">
                <!-- Hamburger menu button for mobile view -->
                <!--                <a
                                        href="#"
                                        class="edp-header__menu-btn menu&#45;&#45;btn"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#navbar-toggle"
                                        aria-controls="navbarTogglerDemo02"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation"
                                @click="menuCollapsed = !menuCollapsed"
                                >
                                <span
                                        class="fas"
                                        :class="{'fa-bars': menuCollapsed, 'fa-times': !menuCollapsed}"
                                />
                            </a>-->
                <div class="edp-header__content region region-header">
                    <!-- Branding -->
                    <div id="block-edp3-branding" class="edp-header__branding">
                        <a class="languageSelect"
                           href="/en"><img src="${pageContext.request}/sparql-manager/resources/img/edplogo.png"
                                           alt="European data portal logo" />
                        </a>
                        <div class="site-branding__text">
                            <div class="site-branding__name">
                                <a class="site-branding__logo languageSelect"
                                   data-title="message.header.navigation.about.europeanDataPortal"
                                   id="text62"
                                   href="/en">European Data Portal
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Search bar -->
                    <div id="block-search" class="edp-header__search-bar">
                        <div class="clearfix">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <input class="form-control round"
                                           type="text" value="" />
                                </div>
                                <select class="form-control violet" onchange="changeSearch(this.value)"
                                        name="searchdomain">
                                    <option value="site" id="text9"
                                            data-title="message.header.searchOptions.siteContent">Site content
                                    </option>
                                    <option value="data" id="text10"
                                            data-title="message.header.searchOptions.datasets">Datasets
                                    </option>
                                </select>
                                <div class="input-group-append">
                                    <a class="btn btn-default btn-small form-submit"
                                       type="image" id="edit-submit" name="submit" style="background: rgb(32, 34, 114);"
                                       onclick="goSearch()">
                                        <i class="fas fa-search icon" style="color: white" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="block-languageswitcher" class="edp-header__language-box block-language" role="navigation">
                        <div class="input-group">
                            <select id="language-selector3" class="form-control" name="url"
                                    onchange="changelanguage(this.value)"
                                    data-module-dropdown-class="lang-dropdown"
                                    data-module-container-class="lang-container">
                                <option value="bg">Български (bg)</option>
                                <option value="cs">čeština (cs)</option>
                                <option value="da"> dansk (da)</option>
                                <option value="de"> Deutsch (de)</option>
                                <option value="el"> Ελληνικά (el)</option>
                                <option value="en" selected="selected"> English (en)</option>
                                <option value="es"> español (es)</option>
                                <option value="et"> eesti (et)</option>
                                <option value="fi"> suomi (fi)</option>
                                <option value="fr"> français (fr)</option>
                                <option value="ga"> Gaeilge (ga)</option>
                                <option value="hr"> Hrvatski (hr)</option>
                                <option value="hu"> Magyar (hu)</option>
                                <option value="it"> italiano (it)</option>
                                <option value="lt"> lietuvių (lt)</option>
                                <option value="lv"> latviešu (lv)</option>
                                <option value="mt"> Malti (mt)</option>
                                <option value="nl"> Nederlands (nl)</option>
                                <option value="pl"> polski (pl)</option>
                                <option value="pt"> português (pt)</option>
                                <option value="ro"> română (ro)</option>
                                <option value="sk"> slovenčina (sk)</option>
                                <option value="sl"> slovenščina (sl)</option>
                                <option value="sv"> svenska (sv)</option>
                                <option value="no"> Norsk (no)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation bar -->
    <nav class="edp-nav navbar-expand-lg">
        <div id="navbar-toggle" class="second-level-open collapse navbar-collapse">
            <div class="edp-menu-container container">
                <div class="region region-primary-menu">
                    <nav role="navigation"
                         id="block-edp3-main-menu"
                         class="menu--main">
                        <ul class="edp-menu menu navbar-nav">
                            <!-- Home -->
                            <li class="edp-menu__item edp-menu__item--home nav-item">
                                <a href="/en"
                                   data-display-title="0" data-image="home"
                                   class="edp-menu__home-text languageSelect">
                                    <i class="fas fa-home icon" style="color: white" />
                                </a>
                            </li>
                            <!-- Data -->
                            <!-- Since it is known that this application lies within /data/. -->
                            <!-- just assume this path is active instead of deciding it dynamically. -->
                            <!-- Put the active class as appropriate when this component is put in another app. -->

<!--
                            &lt;!&ndash; Covid-19 &ndash;&gt;
                            <li class="edp-menu__item nav-item dropdown position-static" style="z-index: 10;">
                                &lt;!&ndash;id="text71"&ndash;&gt;
                                <a href=""
                                   aria-haspopup="true" aria-expanded="false" data-display="static"
                                   class="nav-link dropdown-toggle" data-toggle="dropdown"
                                   data-title="message.header.navigation.data.title">COVID-19</a>
                                <div class="edp-menu__dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul class="edp-menu__dropdown-list">
                                        <li class="edp-menu__dropdown-list-item">
                                            &lt;!&ndash;id="text72"&ndash;&gt;
                                            <a href="/en/covid-19/overview"
                                               data-title="message.metadata.datasets TODO"
                                               class="list-group-item languageSelect">Overview</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            &lt;!&ndash;id="text73"&ndash;&gt;
                                            <a href="/en/covid-19/datasets"
                                               data-title="message.header.navigation.data.metadataquality TODO"
                                               class="list-group-item languageSelect">Datasets</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            &lt;!&ndash;id="text74"&ndash;&gt;
                                            <a href="/en/covid-19/stories"
                                               data-title="message.header.navigation.data.metadataquality TODO"
                                               class="list-group-item languageSelect">Data Stories</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            &lt;!&ndash;id="text75"&ndash;&gt;
                                            <a href="/en/covid-19/initiatives"
                                               data-title="message.header.navigation.data.metadataquality TODO"
                                               class="list-group-item languageSelect">Data Related Initiatives</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
-->

                            <!-- Datasets -->
                            <li class="edp-menu__item nav-item dropdown position-static active">
                                <a href="http://[odp:base_site_url]/data/datasets?locale=[odp:base_site_language]"
                                   aria-haspopup="true" aria-expanded="false" data-display="static"
                                   class="nav-link dropdown-toggle languageSelect" data-toggle="dropdown" id="text19"
                                   data-title="message.header.navigation.data.title">Data</a>
                                <div class="edp-menu__dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul class="edp-menu__dropdown-list">
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/data/eu-international-datasets"
                                               id="text71"
                                               data-title="message.header.navigation.data.euAndInternationalData"
                                               class="list-group-item languageSelect">EU and international data</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/data/datasets"
                                               id="text70"
                                               data-title="message.header.navigation.data.countryData"
                                               class="list-group-item languageSelect">Country data</a>
                                        </li>
                                        <li style="margin-left: -5px; padding-right: 2px;">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="text69" data-toggle="dropdown"
                                                        data-title="message.header.navigation.data.sparqlsearch"
                                                        aria-haspopup="true" aria-expanded="false"
                                                        style="pointer-events: none; cursor: default;background-color: #196fd2;border-color: white;color: white;padding: 4px;">
                                                    SPARQL-Search
                                                </button>
                                                <div class="dropdown-menu dropdown-menu2"
                                                     aria-labelledby="dropdownMenuButton"
                                                     style="margin: 0">
                                                    <a style="border-top-left-radius: 10%; border-top-right-radius: 10%;"
                                                       class="dropdown-item languageSelect"
                                                       data-title="message.header.navigation.data.sparqlsearch"
                                                       id="text66"
                                                       href="/sparql-manager/en/">SPARQL Search</a>
                                                    <a class="dropdown-item languageSelect"
                                                       data-title="message.header.navigation.sparqlAssistant"
                                                       id="text67"                                                       href="/sparql-manager/en/assistant">SPARQL Assistant</a>
                                                    <a class="dropdown-item languageSelect"
                                                       data-title="message.header.navigation.sparqlQueries"
                                                       style="border-bottom-right-radius: 10%;border-bottom-left-radius: 10%;"
                                                       id="text68"
                                                       href="/sparql-manager/en/queries">SPARQL Queries</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item" style="padding-left: 7px">
                                            <a href="/catalogue-statistics"
                                               id="text42"
                                               data-title="message.header.navigation.data.statistics"
                                               class="list-group-item languageSelect">Statistics</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/mqa"
                                               id="text46"
                                               data-title="message.header.navigation.data.metadataquality"
                                               class="list-group-item languageSelect">Metadata Quality</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Impact & Studies -->
                            <li class="edp-menu__item nav-item dropdown position-static">
                                <a href=""
                                   aria-haspopup="true" aria-expanded="false" data-display="static"
                                   class="nav-link dropdown-toggle languageSelect" data-toggle="dropdown" id="text31"
                                   data-title="message.header.navigation.impactStudies.title">Impact &amp; Studies</a>
                                <div class="edp-menu__dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul class="edp-menu__dropdown-list">
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/impact-studies/overview"
                                               id="text32"
                                               data-title="message.header.navigation.impactStudies.overview"
                                               class="list-group-item languageSelect">Overview</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/impact-studies/country-insights"
                                               id="text33"
                                               data-title="message.header.navigation.impactStudies.countyInsights"
                                               class="list-group-item languageSelect">Country Insights</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/impact-studies/open-data-impact"
                                               id="text34"
                                               data-title="message.header.navigation.impactStudies.opendataimpact"
                                               class="list-group-item languageSelect">Open Data Impact</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/impact-studies/open-data-maturity"
                                               id="text35"
                                               data-title="message.header.navigation.impactStudies.opendatamaturity"
                                               class="list-group-item languageSelect">Open Data Maturity</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/impact-studies/covid-19"
                                               id="text36"
                                               data-title="message.header.navigation.impactStudies.covid19"
                                               class="list-group-item languageSelect">COVID-19</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/impact-studies/studies"
                                               id="text37"
                                               data-title="message.header.navigation.impactStudies.studies"
                                               class="list-group-item languageSelect">Studies</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/impact-studies/use-cases"
                                               id="text38"
                                               data-title="message.header.navigation.impactStudies.useCases"
                                               class="list-group-item languageSelect">Use Cases</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/impact-studies/tell-us-your-story"
                                               id="text39"
                                               data-title="message.header.navigation.impactStudies.tellUsYourStory"
                                               class="list-group-item languageSelect">Tell us your story</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- Training -->
                            <li class="edp-menu__item nav-item dropdown position-static">
                                <a href=""
                                   aria-haspopup="true" aria-expanded="false" data-display="static" id="text49"
                                   class="nav-link dropdown-toggle languageSelect" data-toggle="dropdown"
                                   data-title="message.header.navigation.training.title">Training</a>
                                <div class="edp-menu__dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul class="edp-menu__dropdown-list">
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/training/what-open-data"
                                               id="text40"
                                               data-title="message.header.navigation.training.whatIsOpenData"
                                               class="list-group-item languageSelect">What is open data</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/training/elearning"
                                               id="text41"
                                               data-title="message.header.navigation.training.elearning"
                                               class="list-group-item languageSelect">eLearning</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/training/licensing-assistant"
                                               id="text43"
                                               data-title="message.header.navigation.training.licensingAssistant"
                                               class="list-group-item languageSelect">Licensing Assistant</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/training/data-providers-guide"
                                               id="text44"
                                               data-title="message.header.navigation.training.dataProvidersGuide"
                                               class="list-group-item languageSelect">Data providers' guide</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/training/more-training-material"
                                               id="text45"
                                               data-title="message.header.navigation.training.moreTrainingMaterial"
                                               class="list-group-item languageSelect">More training material</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- News & Events -->
                            <li class="edp-menu__item nav-item dropdown position-static">
                                <a href=""
                                   aria-haspopup="true" aria-expanded="false" data-display="static" id="text59"
                                   class="nav-link dropdown-toggle languageSelect" data-toggle="dropdown"
                                   data-title="message.header.navigation.newsEvents.title">News &amp; Events</a>
                                <div class="edp-menu__dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul class="edp-menu__dropdown-list">
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/news-events/news"
                                               id="text50"
                                               data-title="message.header.navigation.newsEvents.news"
                                               class="list-group-item languageSelect">News</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/news-events/events"
                                               id="text51"
                                               data-title="message.header.navigation.newsEvents.events"
                                               class="list-group-item languageSelect">Events</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- About -->
                            <li class="edp-menu__item nav-item dropdown position-static">
                                <a href=""
                                   aria-haspopup="true" aria-expanded="false" data-display="static" id="text58"
                                   class="nav-link dropdown-toggle languageSelect" data-toggle="dropdown"
                                   data-title="message.header.navigation.about.title">About</a>
                                <div class="edp-menu__dropdown dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <ul class="edp-menu__dropdown-list">
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/about/european-data-portal"
                                               id="text47"
                                               data-title="message.header.navigation.about.europeanDataPortal"
                                               class="list-group-item languageSelect">European Data Portal</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/about/documentation"
                                               id="text48"
                                               data-title="message.header.navigation.about.documentation"
                                               class="list-group-item languageSelect">Documentation</a>
                                        </li>
                                        <li class="edp-menu__dropdown-list-item">
                                            <a href="/en/about/be-harvested-us"
                                               id="text52"
                                               data-title="message.header.navigation.about.beHarvestedByUs"
                                               class="list-group-item languageSelect">Be harvested by us</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</ui:composition>
</body>
</html>
