<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<body>

<ui:composition>
    <div class="site-wrapper">
        <div class="row blue_bg" style="border-bottom: 0px">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
                        style="border: 1px solid lightgrey">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" />
                    <span class="icon-bar" />
                    <span class="icon-bar" />
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation">
                        <h:outputLink
                                styleClass="btn btn-link" value="#{request.contextPath}/#{languageBean.lang}/">
                            <h:outputText value="#{messages['SPARQLMANAGER.LINK.SPARQL_HOME']}"/>
                        </h:outputLink>
                    </li>
                    <li role="presentation">
                        <h:outputLink
                                styleClass="btn btn-link"
                                value="#{request.contextPath}/#{languageBean.lang}/assistant">
                            <h:outputText value="#{messages['SPARQLMANAGER.LINK.ASSISTANT']}"/>
                        </h:outputLink>
                    </li>
                    <ui:fragment rendered="#{configBean.myQueriesFeatureEnabled}">
                        <li role="presentation">
                            <h:outputLink
                                    styleClass="btn btn-link"
                                    value="#{request.contextPath}/#{languageBean.lang}/queries">
                                <h:outputText value="#{messages['SPARQLMANAGER.LINK.MY_QUERIES']}"/>
                            </h:outputLink>
                        </li>
                        <ui:fragment rendered="#{profileBean.authenticated}">
                            <li role="presentation">
                                <a class="btn btn-link"
                                   href="/sparql-manager/logout.xhtml?url=/sparql-manager/#{languageBean.lang}/">
                                    <h:outputText value="#{messages['SPARQLMANAGER.LINK.LOGOUT']}"/>
                                </a>
                            </li>
                            <li role="presentation">
                                <h:outputLink
                                        styleClass="btn btn-link"
                                        value="#{request.contextPath}/#{languageBean.lang}/user/#{profileBean.domainUsername}">
                                    <h:outputText value="#{profileBean.domainUsername}"/>
                                </h:outputLink>
                            </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{not profileBean.authenticated}">
                            <li role="presentation">
                                <h:outputLink
                                        styleClass="btn btn-link"
                                        value="#{request.contextPath}/#{languageBean.lang}/user">
                                    <h:outputText value="#{messages['SPARQLMANAGER.LINK.LOGIN']}"/>
                                </h:outputLink>
                            </li>
                        </ui:fragment>
                    </ui:fragment>
                </ul>
            </div>
        </div>
    </div>
</ui:composition>
</body>
</html>