<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<body>
<ui:composition>
    <div class="form-group" style="border: 1px solid darkgrey;border-radius: 5px;">
        <!-- <h:outputLabel for="sparqlquery" styleClass="control-label"
        value="#{messages['SPARQLMANAGER.LABEL.SPARQL_QUERY']}" /> -->
        <div data-intro="#{messages['SPARQLMANAGER.HELP.PREFIXES']}">
            <div id="accordion">
                <div class="panel panel-default form-group-sparql-manager"
                     id="prefixPanelGroup">
                    <div class="panel-heading" style="padding: 10px 20px;">
                        <!-- <p class="panel-title"> -->
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#prefixPanel">
                            <h:outputText value="#{messages['SPARQLMANAGER.LABEL.PREFIXES']}"/>
                            <span class="glyphicon glyphicon-collapse-down pull-right"/>
                            <i class="far fa-caret-square-down" style="float: right" />
                        </a>
                        <!-- </p> -->
                    </div>
                    <div id="prefixPanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <!-- <pre class="prettyprint">#{searchBean.sparqlprefixes}</pre> -->
                            <pre id="prefix"
                                 style="height: 200px; margin-left: 20px; margin-right: 20px;border: 1px solid;border-radius: 5px;}">#{searchBean.sparqlprefixes}</pre>
                            <h:outputScript library="js" name="Prefix.js"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h:panelGroup layout="block" id="helpme">
            <div data-intro="#{messages['SPARQLMANAGER.HELP.SPARQL_QUERY']}"
                 id="transformation">
                <h:inputTextarea id="textAreaQuery" styleClass="form-control"
                                 value="#{searchBean.query.queryString}"/>
                <pre id="editor"
                     style="height: 150px; border: 1px solid darkgrey;margin-right: 20px; margin-left: 20px;border-radius: 5px;"/>
                <h:outputScript library="js" name="Editor.js"/>
            </div>
        </h:panelGroup>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <div class="row">
                    <h:outputLabel for="resultFormat"
                                   styleClass="col-lg-4 col-md-4 col-sm-4 control-label"
                                   value="#{messages['SPARQLMANAGER.LABEL.RESULTFORMAT']}" style="max-width: 70px; margin-top: 5px;"/>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div data-intro="#{messages['SPARQLMANAGER.HELP.RESULTFORMAT']}">
                            <h:selectOneMenu id="resultFormat" styleClass="form-control"
                                             value="#{searchBean.query.resultFormat}" required="true">
                                <f:selectItems
                                        value="#{searchBean.availableResultFormats.entrySet()}"
                                        var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
                                <f:ajax event="valueChange" listener="#{searchBean.replaceQuery()}"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <h:outputLabel for="limit" styleClass="col-lg-4 col-md-4 col-sm-4 control-label"
                                   value="#{messages['SPARQLMANAGER.LABEL.LIMIT']}" style="max-width: 70px; margin-top: 5px;"/>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div data-intro="#{messages['SPARQLMANAGER.HELP.LIMIT']}">
                            <h:selectOneMenu id="limit" styleClass="form-control"
                                             value="#{searchBean.limit}">
                                <f:selectItem itemValue="1" itemLabel="1"/>
                                <f:selectItem itemValue="5" itemLabel="5"/>
                                <f:selectItem itemValue="10" itemLabel="10"/>
                                <f:selectItem itemValue="50" itemLabel="50"/>
                                <f:selectItem itemValue="100" itemLabel="100"/>
                                <f:selectItem itemValue="500" itemLabel="500"/>
                                <f:selectItem itemValue="1000" itemLabel="1000"/>
                                <f:ajax event="valueChange" listener="#{searchBean.replaceQuery()}" render="helpme"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div data-intro="#{messages['SPARQLMANAGER.HELP.SEARCH']}">
                <h:commandLink styleClass="btn btn-primary btn-block"
                               id="assistant_id"
                               onclick="javascript:_paq.push(['trackEvent', 'Query run', ace.edit('editor').getSession().getValue()]);"
                               action="#{searchBean.search}">
                    <span class="glyphicon glyphicon-search"/>
                    <f:param name="lang" value="#{languageBean.lang}"/>
                    <h:outputText value="&#160;"/>
                    <h:outputText value="#{messages['SPARQLMANAGER.HELP.SEARCH']}"/>
                </h:commandLink>
            </div>
            <ui:fragment rendered="#{configBean.myQueriesFeatureEnabled and profileBean.authenticated}">
                <div data-intro="#{messages['SPARQLMANAGER.HELP.CREATE_QUERY']}">
                    <h:outputLink
                            styleClass="btn btn-success" value="#{request.contextPath}/#{languageBean.lang}/query/new">
                        <h:outputText value="#{messages['SPARQLMANAGER.BUTTON.CREATE_QUERY']}"/>
                    </h:outputLink>
                </div>
            </ui:fragment>
        </div>
    </div>
</ui:composition>
</body>
</html>