<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jstl/core">
<body>
<ui:composition>
    <ui:fragment rendered="#{result != null}">
        <h:form id="downloadForm">
            <div class="row">
                <div class="col-lg-12">
                    <h3 style="color: rgb(32, 34, 114);">
                        <h:outputText
                                value="#{messages['SPARQLMANAGER.TITLE.RESULT_DATA']}"/>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <c:set var="aceMode" value="#{downloadBean.aceMode(result)}"/>
                    <div data-intro="#{messages['SPARQLMANAGER.HELP.PREVIEW']}">
							<pre id="resultPreview"
                                 style="height: 200px; border: 1px solid darkgrey;border-radius: 5px">
								<h:outputText value="#{downloadBean.preview(result)}"/>
							</pre>
                        <script>
                            var resultPreviewEditor = ace.edit("resultPreview");
                            resultPreviewEditor.setTheme("ace/theme/chrome");
                            resultPreviewEditor.getSession().setMode(
                                "ace/mode/#{aceMode}");
                            resultPreviewEditor.setReadOnly(true);
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div data-intro="#{messages['SPARQLMANAGER.HELP.DOWNLOAD']}">
                        <h:commandLink
                                styleClass="btn btn-primary"
                                id="download"
                                actionListener="#{downloadBean.download(result)}">
                            <span class="glyphicon glyphicon-download-alt" />
                            <h:outputText value="&#160;"/>
                            <h:outputText
                                    value="#{messages['SPARQLMANAGER.BUTTON.DOWNLOAD']}"/>
                        </h:commandLink>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:fragment>
</ui:composition>
</body>
</html>
