<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<body>
<ui:composition>
    <div id="cookie-accept-decline-banner" class="cookie cookie-consent cookie__bar cookie__bar--top bg-primary2"
         style="background-color: #0065a2 !important;">
        <div class="cookie__bar__wrap">
            <div title="Close" class="cookie__bar__postpone-button">
                <span class="text-white" onclick="hideConsens(false)">×</span>
            </div>
            <div class="cookie__bar__content">
                <span data-title="message.cookies.text"
                      id="text81"
                      class="text-white font-weight-bold">We use cookies on this site to enhance your user experience </span>
            </div>
            <div class="cookie__bar__buttons">
                <button class="cookie__bar__buttons__button cookie__bar__buttons__button--accept" onclick="hideConsens(true)">
                    <span data-title="message.cookies.agree"
                          id="text82"
                          class="text-dark"> Yes, I agree</span>
                </button>
                <a class="cookie__bar__buttons__button cookie__bar__buttons__button--decline"
                   href="https://www.europeandataportal.eu/en/cookies"  target="_blank" onclick="hideConsens(false)"
                   style="color: #343a40 !important; background: #fff">
                    <span data-title="message.cookies.reject"
                          id="text83"
                          class="text-dark"> No, I want to find out more</span>
                </a>
            </div>
        </div>
    </div>
</ui:composition>
</body>
</html>
