<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<body>
	<ui:composition>
		<!-- Piwik -->
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push([ 'trackPageView' ]);
			_paq.push([ 'enableLinkTracking' ]);
			(function() {
				console.log('WE DID ITI!')
				var u = "/piwik/";
				_paq.push([ 'setTrackerUrl', u + 'piwik.php' ]);
				_paq.push([ 'setSiteId', 1 ]);
				var d = document, g = d.createElement('script'), s = d
						.getElementsByTagName('script')[0];
				g.type = 'text/javascript';
				g.async = true;
				g.defer = true;
				g.src = u + 'piwik.js';
				s.parentNode.insertBefore(g, s);
			})();
		</script>
		<noscript>
			<p>
				<img src="/piwik/piwik.php?idsite=1" style="border: 0;" alt="" />
			</p>
		</noscript>
		<!-- End Piwik Code -->
	</ui:composition>
</body>
</html>
