<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<f:view locale="#{languageBean.localeCode}" encoding="UTF-8"

        contentType="text/html">
    <ui:insert name="metadata"/>
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta property="og:site_name" content="European Data Portal - SPARQL Manager"/>
        <meta property="og:type" content="page"/>
        <meta property="og:title" content="European Data Portal - SPARQL Manager"/>
        <meta property="og:description" content="SPARQL Manager"/>
        <meta property="robots" content="follow,index"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta property="revisit-after" content="15 Days"/>
        <meta name="date" content="28/08/2015"/>
        <meta name="keywords" content="European Data Portal, European Data Portal, EU"/>
        <meta name="Generator" content="Drupal 7 (http://drupal.org)"/>
        <meta http-equiv="Content-Language" content="en"/>
        <meta name="description" content="European Data Portal - SPARQL Manager"/>
        <meta name="creator" content="COMM/DG/UNIT"/>
        <meta name="reference" content="EUROPEAN DATA PORTAL/HOMEPAGE/EN"/>
        <meta name="classification" content="04000"/>
        <link rel="shortcut icon" href="/sites/all/themes/ec_resp_edp/favicon.ico" type="image/vnd.microsoft.icon"/>
        <link rel="shortlink" href="/sparql-manager/en/"/>
        <link rel="canonical" href="/sparql-manager/en/"/>

        <title>
            <ui:insert name="title">
                <h:outputText value="#{messages['SPARQLMANAGER.SITE.TITLE']}"/>
            </ui:insert>
        </title>

        <!-- CSS -->
        <ui:insert name="css"/>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-glyphicons.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/intro.js/1.1.1/introjs.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

        <h:outputStylesheet library="css" name="sparql-manager-bootstrap.css"/>
        <h:outputStylesheet library="css" name="edp3.css"/>

        <link rel="shortcut icon" type="image/x-icon" href="#{resource['img/favicon.ico']}"/>

        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/intro.js/1.1.1/intro.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <ui:insert name="js"/>
        <!--
                <h:outputScript library="js" name="/edp-v2-scripts.js" />
        -->
        <h:outputScript library="js" name="/jquery.i18n.properties.min.js"/>

        <ui:insert name="languages"/>

        <!-- Piwik -->
<!--        <script type="text/javascript">
            var _paq = _paq || [];
            // tracker methods like "setCustomDimension" should be called before "trackPageView"
            _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
            _paq.push(["setCookieDomain", "*.localhost"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "//localhost:9141/";
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', '1']);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>-->
        <!-- End Piwik Code -->

    </h:head>

    <h:body>

        <div id="cookie-consent">
            <script type="text/javascript">
                var accepted = Cookies.get('sparql-manager-cookies-accepted');
                if (accepted === "true") {
                    $("#cookie-consent").remove();
                }
            </script>
            <ui:include src="cookieConsent.xhtml"/>
        </div>


        <div id="header">
            <ui:include src="commonHeader.xhtml"/>
        </div>

        <!--<div id="menu">
            <ui:include src="commonMenu.xhtml"/>
        </div>-->


        <div id="content" class="edp-header__container container"
             style="background: white;">
            <div class="site-wrapper" style="margin-top: 70px;padding-top: 30px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="overlay-sparql-manager">
                            <a class="pull-right" href="javascript:void(0);"
                               onclick="javascript:introJs().start();"> <h:graphicImage
                                    library="img" name="info.svg"
                                    title="#{messages['SPARQLMANAGER.BUTTON.HELP']}"
                                    alt="#{messages['SPARQLMANAGER.BUTTON.HELP']}"
                                    styleClass="information-icon-sparql-manager"/>
                            </a>
                        </div>
                        <div id="messages">
                            <h:messages
                                    styleClass="table table-hover table-condensed table-responsive"
                                    layout="table" errorClass="danger" infoClass="info"
                                    warnClass="warning" showDetail="false" showSummary="true"
                                    autoUpdate="true" globalOnly="true" />
                        </div>
                        <ui:insert name="content"/>
                        <!--<ui:include src="/index.xhtml"></ui:include>-->
                    </div>
                </div>
            </div>
        </div>

        <div id="footer" style="margin-top: 20px">
            <ui:include src="commonFooter.xhtml"/>
            <ui:debug hotkey="x"/>
        </div>
    </h:body>
</f:view>
</html>
